[2018-04-25 00:47] benyanke opened #1 "does not provide shadowaccount"
_From @qiukeren on October 10, 2016 17:0_

it does not provide `shadowaccount` attribute,
so nslcd will try for 3 times(1s each time) on login

_Copied from original issue: nmcclain/glauth#4_

[2018-04-25 00:48] benyanke opened #2 "Add Documentation About Docker"
_From @benyanke on April 23, 2018 4:3_

#19 added an alpine Dockerfile for building and running (yay) is merged into dev, eventually into master once it's been more tested. Eventually, this will link to a docker hub automated build for easy deployment and use.

However, no documentation in the README.md file yet! This needs to be done.

Documentation would need to include, at minimum:

* How to mo

[2018-04-25 00:48] benyanke opened #3 "Implement Password Salting and Hash Incrementing"
_From @benyanke on April 19, 2018 17:28_

Should switch to salt+hash. However, needs to be backwards compatible.

May also include a CLI option for generating passwords.

_Copied from original issue: nmcclain/glauth#18_

[2018-04-25 00:48] benyanke opened #4 "Allow Arbitrary Fields"
_From @benyanke on April 19, 2018 15:55_

Need to find a good scheme to allow arbitrary fields defined in the config file.

_Copied from original issue: nmcclain/glauth#17_

[2018-04-25 00:48] benyanke opened #5 "Add Configuration Option to Allow Annon Binding"
_From @woopstar on November 14, 2017 10:2_

This needs to allow anon access to RootDSE for it to work as authentication backend for SSSd in CoreOS etc.

When you use SSSd it fails as it is not allowed to do an anon binding on the RootDSE

_Copied from original issue: nmcclain/glauth#5_

[2018-04-25 00:48] benyanke commented on #5
_From @woopstar on January 1, 2018 19:23_

Or it should allow you to create a bind user for non-anon access btw

[2018-04-25 00:48] benyanke commented on #5
You can easily do that by just creating a user for the purpose of allowing binding, right?

[2018-04-25 00:48] benyanke commented on #5
I do agree though - adding a boolean to allow annon binding would be good.

[2018-04-25 00:49] benyanke opened #6 "Setup TravisCI builds/tests"
_From @benyanke on April 19, 2018 0:45_

_Copied from original issue: nmcclain/glauth#10_

[2018-04-25 00:49] benyanke opened #7 "Setup Auto Deploys to Docker Hub"
_From @benyanke on April 19, 2018 0:45_

Docker should be a first class deployment tool.

Need to setup docker tags to properly build on each successful build.

As far as tags, stable/master goes to 'latest', versions go to 'vx.x', and 'vx' tags, and dev branch goes to 'nightly'.

_Copied from original issue: nmcclain/glauth#11_

[2018-04-25 00:49] benyanke commented on #7
#19 is a good step into this, the dockerfile is complete. Just need to get the backend going now.

[2018-04-25 00:49] benyanke opened #8 "Update Example Config with Optional Fields"
_From @benyanke on April 19, 2018 1:14_

Added a bunch of optional config options in #8 , however, didn't also update the example config file to show off these cases.

_Copied from original issue: nmcclain/glauth#12_

[2018-04-25 00:49] benyanke opened #9 "Write Integration Tests"
_From @benyanke on April 19, 2018 1:18_

This would likely be implemented with TravisCI.

This would involve a build, and then starting the app, and testing it using an LDAP query tool, then ensuring it returns correct data given a set config file.

_Copied from original issue: nmcclain/glauth#13_

[2018-04-25 00:49] benyanke opened #10 "Write Unit Tests"
_From @benyanke on April 19, 2018 1:20_

Unit tests should be written, and if needed, existing code refactored to support better testing.

_Copied from original issue: nmcclain/glauth#14_

[2018-04-25 00:49] benyanke opened #11 "Additional Backends"
_From @benyanke on April 19, 2018 1:21_

This thread is for requests of additional backends.

MySQL seems the first obvious one. Feel free to chime in if anyone has other ideas. I'll implement as I'm able or accept PRs.

Currently tracked backends:
 * MySQL
 * Postgres
 * CockroachDB (would likely be the same as postgres)
 * Etcd
 * Amazon Cognito REST API

Before implementing these backends, perh

[2018-04-25 01:12] benyanke commented on #6
In addition to compiling and testing the code, let's also add a markdown linter too.

[2018-04-25 01:32] benyanke opened #12 "Look into ansible directory"
I have never used ansible, so as maintainer, I'm not sure if it's up to date or even applicable anymore.

Anyone familiar with ansible, I'd love to hear from you.

[2018-04-25 17:28] nmcclain commented on #12
I think this is old cruft that should be removed.

It was used for configuring a linux *client* to use LDAP for logins.

[2018-04-25 17:29] benyanke commented on #12
Sounds good - that sounds more like the scope of another repo with the ansible client config, at the very least. Removing.

[2018-04-25 17:29] #12 closed

[2018-04-25 17:54] benyanke commented on #7
In progress - moving to the organization account was a first step in this. Hopefully will be done soon.

[2018-04-28 21:20] benyanke opened #13 "Add Configuration Validation"
Currently, it silently fails if some fields are missing. Need to build a module to fully validate the config, which would be run on every start. Additionally, make it invocable with a specific flag (similar to `apachectl configtest`) so that you can test config before loading it.

This would be implemented most simply using two arrays: 1) required fields, and 2) optional fields.

First, ensure tha

[2018-04-28 21:20] benyanke opened #14 "Reload Config File Without Process Restart"
Build a way reload the config file, so that additional users can be added without downtime. Perhaps sending a signal to the process.

Additionally, some of the infrastructure could even be used to add another option to poll the file and update every several seconds if the file changes - this could similarly be used to allow the s3 option to be live-updating (polling for updates every - say - 5 min

[2018-04-29 03:22] benyanke opened #15 "Test ticket from Code Climate"

[2018-04-29 03:23] #15 closed, assigned to nobody

[2018-05-03 09:28] woopstar opened #18 "Add nested groups"
We have added the option to include nested groups:

https://github.com/pasientskyhosting/glauth/commit/0a7cc23177391630c466694432d50fb50428e0c1

[2018-05-03 13:37] benyanke commented on #18
Would you be willing to submit a PR for this? I'd love to do a full test and implement if possible. We also have some new features I've added so you might find rebasing on our current version in this new repo could be helpful for you as well!

[2018-05-03 13:45] woopstar commented on #18
We will look into it. We just added OTP validation and support for yubikeys.

[2018-05-03 13:46] benyanke commented on #18
That is fantastic - I'd love to pull these features  into the main repo with PRs if you're willing. I've recently taken over maintaining this, and looking to add more features.

[2018-05-04 04:43] benyanke commented on #9
Framework is set up in scripts/travis now.
Currently it just runs it for 2 seconds with no queries. Let's complete this to make some ldap queries, validate output, and kill glauth.

[2018-05-08 18:08] #6 closed

[2018-05-08 18:09] benyanke opened #28 "Add 'version' cmd"
Allow user to run `glauth -v` to find the current version.

[2018-05-10 04:51] benyanke commented on #28
This already exists - doh!

[2018-05-10 04:51] #28 closed

[2018-05-12 03:38] benyanke opened #30 "Removing OSX builds?"
Does anyone use the OSX builds, or at least anyone who relies on the binaries?

I personally don't own a mac, so I'd rather not be fully supporting something I know I can't personally test.

Two questions:

1) Thoughts on removing OSX binaries (knowing it can still be compiled if someone needs it)?
2) If anyone disagrees with (1), is anyone willing to test and support the OSX builds? It's my under

[2018-05-12 03:46] benyanke opened #31 "Removing 32bit builds?"
Similar to #30, is there anyone here who would object to removing 32bit binaries from releases? I can imagine few people still running 32bit wouldn't be able to compile their own, esp as it adds overhead.

As always, open to users' thoughts.

[2018-05-12 04:01] benyanke opened #32 "Build all final binaries through travis CI - add build info"
Add some build-time variables to include build info, such as:

git commit hash built from
pipeline number
version number
timestamp
tag number (ie, version?)

[2018-05-15 02:19] benyanke opened #34 "Set up simple site"
Either ghpages or even a domain.

Hosting on GH pages is sufficient - just some simple docs and howtos are needed.

[2018-05-16 01:19] benyanke opened #35 "Expand on Logging"
Via some optional config options, it would be useful to be able to log to files, instead of just to STDOUT.

[2018-05-24 17:57] benyanke opened #36 "Add comments/documentation to code"
Currently, the code is largely uncommented. Need to add at least some level of code commenting.

[2018-05-30 03:03] benyanke opened #37 "Build Integration Testing for S3 reading"
Minio could be of use. Should, ideally, be part of a CI system.

While Travis can't do external docker containers, I believe, perhaps a new CI system could handle.

Of course, in the meantime, a subpar but workable solution would be hosting a known file on s3 and running tests against that.

[2018-05-31 18:13] benyanke opened #40 "Refactor Makefile"
Currently in the build section there's a lot of duplication. This could be easily parameterized.

[2018-06-01 04:45] benyanke opened #42 "Version Flag Features Don't Work for Docker Build"
The features added in #39 don't work in the docker build.

While more debugging is required, perhaps a switch to makefile build within the dockerfile, and ensuring git is installed will likely resolve this.

[2018-06-01 21:15] benyanke commented on #34
Started at: https://glauth.github.io/

[2018-06-03 02:14] benyanke commented on #32
Partially done in the dev branch.

[2018-06-06 03:30] benyanke commented on #1
Hi @qiukeren - just cleaning up old tickets here. Could you provide some more details of what you're looking for here, or the issue you are having?

[2018-06-06 03:33] benyanke commented on #9
Integration tests are done in dev. They are done in travis CI on commits and PRs, as well as available via `make test`. You will have to run `make fast` first, to compile the linux 64bit binary before testing it.

[2018-06-06 03:33] #9 closed

[2018-06-06 03:34] benyanke commented on #31
Closing this ticket. As mentioned [here](https://github.com/glauth/glauth/tree/dev#other-architectures), other architectures will continued to be built, just not tested extensively.

[2018-06-06 03:34] #31 closed

[2018-06-06 03:35] benyanke commented on #30
Closing this ticket. As mentioned [here](https://github.com/glauth/glauth/tree/dev#other-architectures), other architectures will continued to be built, just not tested extensively.

[2018-06-06 03:35] #30 closed

[2018-06-06 03:36] benyanke commented on #7
This is done. Docker hub is now a fully-supported release channel for dev and master builds.

[2018-06-06 03:36] #7 closed

[2018-06-16 03:59] benyanke opened #43 "Fix Issues found using Go Vet"
A taste of the issues (dupes removed):

[code]

[2018-07-04 13:07] benyanke opened #45 "Add LDAPS to integration tests"

[2018-07-06 14:33] jimmonteath commented on #11
An Amazon Cognito REST API backend would be very useful for apps that do user authorization through LDAP bind and/or fetch user attributes.

[2018-07-06 14:50] benyanke commented on #11
@jimmonteath That would be rather interesting! I can't say it's highest on my list, but I would certainly accept a well-written PR implementing it as a backend. If possible, I'd like it to also have integration tests as well, which can run in CI.

[2018-07-11 00:31] n1trux commented on #11
PostgreSQL would be cool, too.

[2018-07-11 00:42] benyanke commented on #11
Absolutely - I'd imagine the implementation would be 95% shared with MySQL.

[2018-07-20 17:49] benyanke opened #46 "Need to Add LDAPS Port"
https://github.com/glauth/glauth/blob/fef26916e96acfdb0432139ea3d232d7d3bf97d8/Dockerfile#L49

[2018-07-21 03:59] benyanke opened #47 "Fix "method_complexity" issue in configbackend.go"
Method `configHandler.Bind` has a Cognitive Complexity of 32 (exceeds 20 allowed). Consider refactoring.

https://codeclimate.com/github/glauth/glauth/configbackend.go#issue_5b52af3c669b360001000027

[2018-07-21 04:46] benyanke commented on #32
Build is fully working for version string in travis, as per this build:

https://travis-ci.org/glauth/glauth/jobs/406513562

Now just need to get it to copy the final binaries off to the draft GH release on a tag.

[2018-07-21 12:34] benyanke commented on #46
Resolved by #49

[2018-07-21 12:34] #46 closed

[2018-07-21 12:35] benyanke opened #50 "Refactor away from port 3893 in examples"
just use the default port, 389.

Additionally, add more docs about LDAPS.

[2018-07-22 11:37] sperretta opened #51 ""glauth-arm32" incorrectly targets 386 architecture"
The linuxarm32 Makefile rule has GOARCH set to 386 rather than arm; the glauth-arm32 releases are also affected.

[2018-07-22 16:00] benyanke commented on #51
Thanks for this report - as mentioned in the README, I haven't been able to devote as much attention and testing to the non-linux64 bit binaries, I simply build them since Go supports them. I do want to, at some point, set up some VMs so I can run CI on the other OSes and architectures.

I'd be happy to take a PR for this on dev (and push a patch release to master) if you have a chance, otherwise

[2018-07-31 20:57] jcgruenhage opened #53 "Support applications that verify the password themselves"
Some applications don't try to connect to the ldap server as the user it's trying to authenticate but look for the password in the result they get and calculate/compare the hash itself. As far as I can tell, glauth does not give those applications enough data to finish authentication.

Right now I only know of nextcloud that is acting this way, but I'm sure there are more things out there doing th

[2018-08-01 01:04] benyanke opened #54 "Add support for app passwords"
This is in conjunction to 2FA, for contexts that don't support a changing password.

[2018-08-01 01:09] benyanke commented on #53
I have plans to connect my nextcloud install to my glauth instance, so I'll look into this!

[2018-08-01 10:05] jcgruenhage commented on #11
A few more things that would be neat:
 - CockroachDB (distributed SQL database)
 - etcd (distributed key value storage)

I think it would make sense to edit the first post here with a list of proposed things, to have a cleaner overview than reading the whole issue, maybe even structured into SQL, KV, File, REST or something like that.

[2018-08-05 01:45] benyanke commented on #42
Confirmed that this is working both on the stable 1.1 release (docker tag:latest) as well as the dev branch (docker tag: nightly).

[2018-08-05 01:45] #42 closed

[2018-08-05 02:51] benyanke commented on #53
Confirmed that NextCloud is stalling out on authentication. Will be hopefully digging into this more soon.

[2018-08-05 03:29] benyanke commented on #1
Closing due to inactivity, feel free to reopen if you'd like to discuss this more.

[2018-08-05 03:29] #1 closed

[2018-08-05 03:41] benyanke commented on #4
Closing due to lack of interest and unneeded complexity at this point.

Would be open to an elegant solution to this, but in the meantime, if you see a needed field, just put an issue in and I'll be happy to quickly add it as an optional field to return when set in the config.

[2018-08-05 03:41] #4 closed

[2018-08-05 03:53] benyanke commented on #18
nested group support was added a while back using the `includegroups` key in a group's config.

[2018-08-05 03:53] #18 closed

[2018-08-05 03:59] benyanke opened #55 "Research Rate Limiting"
Look into rate limiting options. Failed binds would be the most obvious metric to check, but potentially others could arise too.

[2018-08-05 07:01] jcgruenhage commented on #53
Huh? Maybe I've completely misinterpreted what I've read (docs/logs).. I need to check my config then

[2018-08-22 04:00] benyanke commented on #53
Closing this - feel free to reopen if you have issues or you find another good example which could make the case for this feature. I'd really rather not expose the password hashes.

[2018-08-22 04:00] #53 closed

[2018-08-22 10:04] jcgruenhage commented on #53
It's pretty likely that I misunderstood something somewhere. Sadly I haven't had the time to investigate more why my Nextcloud isn't working, I'll update this once I've gotten further..

[2018-08-22 13:16] benyanke commented on #53
No worries! Thanks for using glauth!

[2018-08-22 20:58] jcgruenhage commented on #53
Well thanks for writing it!

[2018-08-23 05:34] benyanke opened #59 "Makefile : GIT_IS_TAG_COMMIT is not working properly"
It is currently reporting that my current commit is a tagged commit, which it is not.

Tested on Ubuntu 16.04.

[2018-10-16 13:30] benyanke opened #61 "Add Caching to LDAP Proxy Mode"
Adding this would allow it to continue LDAP service in event of a connectivity failure.

For example: if a corporate office has a VPN to AWS, and GLAUTH running in AWS, apps can authenticate to glauth and any user who has recently authenticated could still log in if the VPN goes down for a short time.

[2018-10-27 18:38] sikmir commented on #2
I'm trying to get it working, but have some problem:
[code]
So, the question is why 389 and 636 ports are closed? Log says nothing.
@benyanke Could you please take a look?

[2018-10-29 02:33] benyanke commented on #2
Sure - this is just your use of the config file vs docker compose (in other words - everything working as intended).

In `frontend.listen`, you specify the bind address for plaintext LDAP as `0.0.0.0:3893`. This means that inside the container, 3893 is the only bound port.

If you update that to `0.0.0.0:389`, it'll start listening over port 389 for plaintext LDAP queries.

[2018-10-29 02:33] benyanke commented on #2
Working as expected. It's listening on 3893, because that's what you specified in the config file for glauth. Adjust to 389 if you want it to listen there, or remap the port in the compose file.

[2018-10-29 06:50] sikmir commented on #2
Thanks, I was mistaken about what `[frontend]` actually is. I should use `[ldap]` and `[ldaps]` config sections instead, it's much more clear.
**config.cfg**:
[code]
**docker-compose.yml**:
[code]
But, still some problem:
[code]
What is "no such file or directory" for here?

[2018-10-29 12:02] benyanke commented on #2
That's because you haven't created your certs and placed them there - glauth doesn't generate certs, it just uses them.

[2018-10-29 13:33] sikmir commented on #2
No, I've generated them in adcance:
[code]

[2018-10-29 13:35] benyanke commented on #2
I'd check permissions next. Try (JUST FOR TESTING) to set them to `chmod 777 ` to see if they're readable then.

[2018-10-29 13:52] sikmir commented on #2
[code]
By the way, it would be helpful to add file name to log string: "LDAP Server Failed: open : no such file or directory". Otherwise I'm not sure that it complains about cert files, because the prefix is "LDAP Server", not "LDAPS Server".

[2018-11-12 13:47] MariusVolkhart opened #64 "String formatting not working"
When running the Docker image with `debug` enabled, the log outputs aren't formatted:
[code]

Attached is my config file (`.txt` b/c github, but `.cfg` on my computer). I'm using the default docker image, no customizations beyond mapping the config file to `/app/config/config.cfg`
[config.txt](https://github.com/glauth/glauth/files/2572103/config.txt)

[2018-11-15 12:42] benyanke commented on #64
Thanks for your report! I've noticed this as well, and forgot to put in a ticket.

[2018-11-15 12:56] benyanke commented on #64
Give the commit above a try!

[2018-11-16 17:57] mxork opened #65 "undefined: Asset"
building fresh on recent Archlinux:

[code]

[2018-11-16 18:14] mxork commented on #65
reason: requires precompilation of Assets with `go-bindata`.  try `make bindata`.

leaving this in case anyone else hits this very minor speedbump.

[2018-11-16 18:14] #65 closed

[2018-11-16 18:40] mxork opened #66 "binaries contain build path"
[code]

Fix: add `trimpath` to build arguments.

Reference: https://wiki.archlinux.org/index.php/Go_package_guidelines

[2018-12-10 07:35] MariusVolkhart commented on #64
LGTM! thanks for fixing that so quickly!

[2018-12-15 14:20] ghost opened #68 "Space in search BaseDN causes request to fail"
I wanted to try out GLAuth instead of OpenLDAP for use with Authelia. GLAuth works perfectly with ldaptools, but with Authelia I always get "Authentication failed", so I started to debug the requests and found out Authelia puts a space between the request BaseDN so instead of `dc=example,dc=com` it sends `dc=example, dc=com` which causes the request to fail. I wasn't sure whether to submit this to

[2018-12-16 10:32] mgrandl commented on #68
Well I haven't either, it's just that Authelia appears to put one for the request in there. OpenLDAP seems to not have a problem with it. The configuration is basically just the sample-simple.cfg with only one user and group to try it out.

[2019-01-07 14:06] cbluth opened #71 "sample-simple.cfg does not work"
sample-simple.cfg does not work
I am getting this in the log:
[code]

[2019-01-25 01:03] thequailman opened #72 "Empty base in search fails"
Some applications use an empty or `<ROOT>` base in their LDAP search.  GLAuth doesn't support this and stops the LDAP bind.  When this happens, the glauth logs the following:

[code]

It proceeds to end the LDAP bind as well.  Can we either:
* Support empty base DN by using the base DN in the config if it's empty
* Return 0 results but keep the bind open?

[2019-01-26 19:33] #72 closed

[2019-02-10 07:50] Slach commented on #11
https://github.com/summerwind/etcdap
LDAP with etcd backend experimental implementation

etcd will really interested for me

[2019-02-10 08:30] Slach opened #76 "Add web/cli hook system for CRUD operations in objects"
it will really usefull feature, which can integrate glauth with any external system or tools
in config it may look like:
[code]

i see multiple use cases for this feature:
- remove github\bitbucket user from organization when user blocked in ldap
- disable gmail\aws\gcloud\azure user when use blocked in ldap
- administator can add request to Vault secrets and approve them
- notify to adminitstator

[2019-02-15 10:35] ryskov commented on #14
PR #58 is now merged into the dev branch

[2019-02-15 13:52] ryskov commented on #68
Would it break LDAP specifications if GLAuth were to remove spaces on the incoming search basedn before processing? Would be pretty simple to implement and if it could help people move things over to GLAuth i think its a valid enough argument to do it.

[2019-02-28 01:17] SISheogorath commented on #68
Same problem over here. Seems like the RFCs solved htat question: https://tools.ietf.org/html/rfc4517#appendix-B see 25

[2019-03-01 20:45] StephanMeijer commented on #11
I need postgres support.

[2019-03-22 06:09] fillup commented on #11
I'd love to run this in front of an existing REST API authentication service I have to also provide an LDAP interface for a couple services that don't support anything else. So most useful for me would be an interface I can use to implement a custom backend. Or perhaps some generic HTTPS backend with a common API expectation would work too.

[2019-03-25 07:36] online-stuff commented on #71
So remove line 64....
passappsha256 = ["6478579e37aff45f013e14eeb30b3cc56c72ccdc310123bcdf53e0333e3f416a"]

This is just before it
[code]
# This user record shows all of the possible fields available
[[users]]
  name = "johndoe"

[/code]

[2019-03-25 08:16] online-stuff opened #78 "How To Run as a Daemon"
It should be a simple 'feature' for server software, but how does one run glauth as a daemon for startup on boot, or even just running in the background?

Along this idea..  Is it possible to write the debug data to a file?

[2019-04-07 16:21] lathama commented on #78
For systemd you can create a service file
https://www.freedesktop.org/software/systemd/man/systemd.service.html

Random example to build off of at https://github.com/go-gitea/gitea/blob/master/contrib/systemd/gitea.service

As far as the debug, what are you asking exactly?

[2019-04-07 16:24] benyanke commented on #78
Sorry I didn't get this sooner - Andrew is correct. Daemonization is something outside the scope of the program itself, but can easily be handled with tools like systemd services, supervisor, or docker.

Similarly, the debug data outputs to STDOUT but that can easily be redirected by one of the aforementioned services to a file for you.

[2019-04-07 16:24] #78 closed

[2019-04-08 17:50] mgrandl commented on #2
So is there still not any documentation on how to set this up with docker? I really want to use this over traditional solutions, but this makes it unnecessarily hard :/

[2019-05-12 11:32] darkguy2008 commented on #2
I had success with this:

docker-compose.yml:
[code]

config.cfg
[code]

Documentation is really scarse though. I'm concerned about user permissions: How do I set up admin users (those who I can connect with an LDAP admin app like Softerra's) to make changes, but avoid the other users I create with them (at least as a basic feature) to alter the users/server as well?

[2019-05-12 12:25] darkguy2008 commented on #68
Well, mine doesn't have any spaces either and I'm getting the same error, as if for a search the BaseDN is always empty, makes no sense.
[code]

[2019-05-16 07:28] hongkongkiwi commented on #1
I also need this..... I'm using "OpenMediaVault" software with ldap authentication (but really it just uses PAM behind the scenes. It uses the shadowAccount objectClass. This looks to be a pretty standard objectClass something like this:
https://ldapwiki.com/wiki/ShadowAccount

It's actually required to use LDAP as a "Network Information Services" provider.

[2019-05-16 07:33] hongkongkiwi opened #81 "Update to provide the shadowAccount objectClass"
The shadowAccount objectClass is required for certain linux style logins, otherwise it will slow logins down as it tries to access this a couple of times. glAuth currently doens't provide this.

It would be great to get this objectClass supported.

Here is more information about this:
https://ldapwiki.com/wiki/ShadowAccount

This link provides the most information, it should actually very easy to

[2019-05-16 07:34] hongkongkiwi commented on #11
Very keen on mongodb

[2019-05-21 06:49] hongkongkiwi opened #82 "External Script Backend"
Hi, for the backend implementation, can we simply have an external script called?

I can write a bash script to call a mongodb, external rest api, google storage etc. This way you don't need to do much work to handle the implementation of different backends, the user can write their own script to return the data in a specific format.

[2019-05-21 11:46] benyanke commented on #82
I'd absolutely be open to an implementation of this.

[2019-05-28 10:19] hongkongkiwi commented on #82
I'm keen but unfortunately I'm not a Go programmer (otherwise I would have added it :-) ) but I can certainly include lots of useful scripts once the feature is available.

[2019-06-19 14:24] ionelanton opened #83 "Insufficient Access Rights"
Hello,
I'm trying to connect to the LDAP server using Active Directory Explorer with one of the users provided in the config files and I'm having the following error:
**handleSearchRequest error LDAP Result Code 50 "Insufficient Access Rights": Search Error: Anonymous BindDN not allowed**
What do I need to do?
Thank you!

[2019-07-01 17:54] travisgroth commented on #83
I think this was fixed in #75 but never merged in.  @benyanke any chance that can be re-opened and merged?  I just tried it locally and it does fix functionality with sssd.

[2019-07-01 18:24] benyanke commented on #43
unkeyed fields fixed by PR #80

[2019-07-17 12:55] p3lim commented on #11
Throwing [Vault](https://www.vaultproject.io/) into the pool.

[2019-07-19 01:54] camAtGitHub opened #86 "Cant enumerate groups or members of groups"
As an example using sample-simple.cfg

**Certain programs that use LDAP need to enumerate the groups available.**

While I can see that GLAuth creates the uid as memberOf groups ie
 `memberOf: cn=superheros,ou=groups,dc=glauth,dc=com`

It seems you can't list the groups directly like you can with users. Example.
`ldapsearch -LLL -H ldap://localhost:389 -D cn=serviceuser,ou=svcaccts,dc=glauth,dc=co

[2019-07-19 03:02] ijt opened #87 "undefined: Asset"
I'm trying to build glauth but it's failing like this:
[code]
Did someone check in broken code or do I just not know what I'm doing?

[2019-07-19 03:06] ijt commented on #87
It compiles at an earlier version for me:
[code]

[2019-07-27 03:47] gkoh commented on #86
I've been looking at a home deployment and encountered this.
After digging through the source and the CI tests, you can get a list of groups with a search filter like this:
[code]

You can further narrow it like thus:
[code]

[2019-08-05 02:14] icarus-sparry commented on #87
Asset was a function defined in bindata.go, which (according to the first few lines in it) is automatically generated by go-bindata from the 3 files in assets.

A simple fix appears to be adding "io/ioutil" to the list of imports, and

func Asset(name string) ([]byte, error){
    return ioutil,ReadFile(name)
}

[2019-08-05 02:39] icarus-sparry commented on #43
Whilst #80 is good to keep `go vet` quiet, the passing of locks by value are actual bugs in the code and need to be addressed. If you copy a lock structure and then lock the copy, the original is not locked!

[2019-08-05 06:00] icarus-sparry commented on #87
The Asset function is defined in bindata.go. This file is created by `make bindata`

[2019-08-07 00:39] xChapx commented on #83
Got the same issue, did you found any work around @ionelanton  ?

[2019-08-15 10:29] camAtGitHub opened #89 "Using ldap backend - fails to returns results with 'attributes only' (1.1)"
Using a simple config similar to: https://github.com/glauth/glauth/blob/master/sample-ldap.cfg

and then I run a search like

`ldapsearch -x -H ldaps://10.231.4.20:636 -b "ou=Active Staff,ou=People,dc=mydomain,dc=edu" "(objectclass=*)" 1.1`

and ldapsearch returns 0 results

hownever the search:
`ldapsearch -x -H ldaps://10.231.4.20:636 -b "ou=Active Staff,ou=People,dc=mydomain,dc=edu" "(objectcla

[2019-08-20 03:38] halkeye opened #90 "nextcloud support"
I'm trying to get glauth to work inside my home network with nextcloud.

I saw in #53 that it was working, but as of today i'm getting at least an error on intiial setup of ldap

[code]

https://github.com/glauth/glauth/blob/28802ff87d5b59d7f7016d19ac50ff8f70b04945/configbackend.go#L186

Do we need to handle all types it might encounter, or is there a "meh" and ignore type feature?

[2019-08-20 03:39] halkeye commented on #90
Oh, its looks like its the automatic detection dropdowns, so not that critical

Search from groups:
[code]

[2019-08-20 03:56] halkeye commented on #90
ah so I figured it out, I found a random log line in next cloud complaining about a missing uuid attribute

Overriding everything makes it work :)

![image](https://user-images.githubusercontent.com/110087/63316443-c4f03a80-c2c3-11e9-8e4d-29f6238e45d6.png)

[2019-09-02 08:25] stonezdj opened #95 "Escaped special character should not be fall back to special characters"
Some special characters `()\*` in LDAP should be escaped.
https://godoc.org/gopkg.in/ldap.v2#EscapeFilter
After it is escaped, it should not be a special character anymore.

for example:  `l*` escaped to `l\2a`
Then the filter: (uid=l\2a) should not match the item with uid=ldap-admin, it should only match the item with uid=l*

[2019-09-04 21:50] pl89 opened #96 "Support for LDAP with TLS?"
Not to be confused with LDAP over SSL (LDAPS), does glauth support LDAP with TLS (StartTLS over ldap scheme)?
I unfortunately couldn't find any documentation on the subject (sorry if I'm blind) and couldn't get it to work... Configuration problem or simply trying to use a feature that doesn't exist?

[2019-09-06 04:15] gkoh commented on #96
I looked, StartTLS isn't supported.
The underlying LDAP library (https://github.com/nmcclain/ldap) specifically mentions StartTLS isn't implemented.

[2019-09-06 04:35] prologic commented on #96
But LDAP over SSL works?
--

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

[2019-09-06 04:54] gkoh commented on #96
Yes, I have it working.

[2019-09-06 14:41] pl89 commented on #96
LDAPS is unfortunately non-standard (at least based on my understanding) and START TLS is the preferred/standard way of operating. Might be exceptional but the system I am using only supports START TLS and not LDAPS (however, I have no visibility into how common that actually is).
Thanks @gkoh and @prologic!

[2019-09-06 21:40] prologic commented on #96
What system out of curiosity? I get that LDAPS isn't standardized; however SSL is pretty transparent to pretty much most (_if not all_) applications really; even if the application doesn't directly support TLS you can always use things like `socat` :)

[2019-09-20 04:30] matttrach commented on #2
Quick reference:
1) get the container `docker pull glauth/glauth`
2) make yourself a workspace `mkdir ldap; cd ldap; mkdir certs;`
3) self-sign a cert
`cd certs; openssl req -newkey rsa:2048 -nodes -keyout domain.com.key -x509 -days 365 -out domain.com`
4) encrypt a pasword ` echo -n "mysecret" | openssl dgst -sha256`
5) copy darkguy2008's config into simple.cfg
[code]
6) run the docker container

[2019-10-16 23:59] egeneralov opened #97 "Ansible role for glauth setup"
Hello.

Thank for your work, it's awersome!
Please, review my ansible role for this project :)

https://github.com/egeneralov/glauth

Kind regards.

[2019-11-04 19:55] chrisbrowning opened #98 "Config backend should allow users to bind without specifying group name"
Specifying a bindDN that does not contain an `ou=` term will return `Bind Error: Group  not found`, even though the same code conditionally checks for bind strings that [do not contain that second term](https://github.com/glauth/glauth/blob/dev/configbackend.go#L46-L54).

`groupName` is initiated with an empty value, and if you do not specify the `ou=` term, groupName does not get set in the previ

[2019-11-18 09:12] href commented on #53
Not sure if this is related, but it seems like GLAuth does not support password checks using [LDAP's `COMPARE` operation](https://ldap.com/the-ldap-compare-operation/).

I'm using GLAuth for integration tests because it's really simple to get up and running. I thought I'd add my 50 cents, since:

Checking with `COMPARE` seems to fit this description. Checking a password using compare doesn't expos

[2019-12-10 20:13] z41 commented on #71
Same issue. The problem is that this config is used by Dockerfile, so it doesn't work when running with defaults. Worth fixing imho.

[2019-12-14 08:26] anoma commented on #71
This is not the only place where the sample config does not work by default.  Also the online and the generated by default sample configs do not match.

None of these are show stoppers but it is a needless barrier to entry.

[2020-01-06 20:09] unclesamwk commented on #96
Can anyone pls explain how configure glauth with ldap over ssl?

[2020-01-20 06:14] gkoh commented on #96
My relevant configuration fragment resembles this:
[code]

[2020-01-23 18:44] edslatt commented on #68
I'm also showing an empty BaseDN using a client that produces proper results against other servers.

I really want to use glauth because its so light but I need it to work this this client - GitLab

[2020-01-30 18:49] poldi1405 commented on #96
For some reason I get
[code]
When using a letsencrypt certificate... anyone has an idea what could be the reason for that?

Config:
[code]

[2020-02-05 08:44] wxiaoguang opened #99 "Bind will be by-passed if a LDAP client sends search requests directly?"
I read the source code of "nmcclain/ldap", there is no check before the call of `SearchHandler`.

Will `Bind` be by-passed if a LDAP client sends search requests directly?'

ps: I can not find the issue entry in "nmcclain/ldap".

[2020-02-05 08:52] #99 closed

[2020-02-05 08:52] wxiaoguang commented on #99
Sorry, I found the `boundDN`, it works

[2020-02-21 08:13] DeepDiver1975 commented on #87
This can be closed @butonic

[2020-02-21 08:15] DeepDiver1975 commented on #97
Please submit a pull request and maintainers can review. THX

[2020-02-21 08:17] DeepDiver1975 commented on #90
I guess this can be closed now as well @butonic

[2020-02-21 08:20] DeepDiver1975 commented on #71
fixed by https://github.com/glauth/glauth/pull/79 - can be closed @butonic

[2020-02-21 10:18] DeepDiver1975 commented on #66
@butonic this can be closed. THX

[2020-02-21 16:00] butonic opened #107 "Use Options pattern to pass config and log"

[2020-02-21 16:00] butonic opened #108 "Use a zero copy logger like zerolog"

[2020-02-21 16:07] butonic commented on #90
closing as this is a config issue. If you need a uuid like attribute open a new issue, or better yet, a PR!

[2020-02-21 16:07] #90 closed

[2020-02-21 16:07] butonic commented on #87
run `make bindata` to get the generate the file

[2020-02-21 16:07] #87 closed

[2020-02-21 16:08] butonic commented on #66
fixed in dev

[2020-02-21 16:08] #66 closed

[2020-02-21 16:08] butonic commented on #71
fixed in dev

[2020-02-21 16:08] #71 closed

[2020-02-21 20:33] butonic opened #110 "release v1.1.2"
The current dev branch has merge conflicts because of conflicting changes in `master` and `dev`. We should get a release out asap.

- [x] if necessary ~~rebase dev &~~ merge dev manually into master to solve any merge conflics
- [x] tag master v1.1.2 locally using `git tag v1.1.2`
- [x]  push tag to github using `git push origin v1.1.2`
  - this will trigger the release build and create a draft re

[2020-02-24 11:17] #43 closed

[2020-02-24 14:41] unclesamwk commented on #110
if the readme needs updated, pls doit. thx for this very nice ldap server :-)

[2020-02-24 15:34] #81 closed

[2020-02-24 15:58] butonic commented on #110
Following the [quickstart](https://github.com/glauth/glauth#quickstart) works and the new config options have ben added as well. So I think we're good to go!

[2020-02-24 15:58] #110 closed

[2020-02-24 17:05] poVoq commented on #11
Given that there is now experimental Owncloud support, it would be really cool if Nextcloud was also included. Not sure how far the codebase has diverged in that particular aspect from Owncloud.

[2020-02-25 16:13] butonic opened #115 "To enable graceful shutdown pass context as option to NewServer"
requires https://github.com/glauth/glauth/issues/107

[2020-02-25 16:16] butonic commented on #32
fixed with v1.1.2

[2020-02-25 16:16] #32 closed

[2020-02-25 17:06] butonic commented on #14
reloading works, but there is still a warning in the log
[code]

changes to users are still picked up and the ldaps port continues to work (a certificate is available)

[2020-02-25 17:06] #14 closed

[2020-02-25 17:06] butonic opened #116 "WARN xxx Could not reload config, but it actually is - false positive"
Using the config backend, when enabling config reloading with `watchconfig = true` and an enabled ldaps port this is logged when the config file is changed:
[code]

changes to users are still picked up and the ldaps port continues to work (a certificate is available)

so this is a false positive.

[2020-02-25 17:07] butonic commented on #11
poVoq: the oc/nc provisioning api should still be the same as it is based on ocs. However, querying all users is inefficient because you have to first get the list of userids and then fetch the user info one by one. Which is why we are looking at building an [owncloud app that provides a graphapi](https://github.com/owncloud/graphapi) endpoint. If that app runs as an nc app I cannot say. I doubt i

[2020-02-25 17:07] #11 closed

[2020-02-25 17:09] butonic opened #117 "mysql backend"
fixed by https://github.com/glauth/glauth/pull/94

[2020-02-25 17:11] butonic opened #118 "postgres backend"
fixed by https://github.com/glauth/glauth/pull/94

[2020-02-25 17:12] butonic opened #119 "cockroachdb backend"
related to postgres ... but the devil will be in the details ...

[2020-02-25 17:15] butonic opened #120 "etcd backend"
from https://github.com/glauth/glauth/issues/11#issuecomment-462111371

[2020-02-25 17:16] butonic opened #121 "mongodb backend"
https://github.com/glauth/glauth/issues/11#issuecomment-492953618

[2020-02-25 17:17] butonic opened #122 "vault backend"
from https://github.com/glauth/glauth/issues/11#issuecomment-512241844

[2020-02-25 17:20] butonic opened #123 "Amazon Cognito REST API backend"
from https://github.com/glauth/glauth/issues/11#issuecomment-403052067

[2020-02-25 17:22] butonic commented on #11
Ok, I created issues for all mentioned backends: https://github.com/glauth/glauth/issues?q=is%3Aissue+is%3Aopen+label%3Abackend-request

PRs welcome!

[2020-02-26 20:29] butonic commented on #115
actually the ldap server has a quit channel ... we can use that for the time being

[2020-02-28 10:33] poldi1405 opened #127 "Suggestion: enable wiki for documentation"
I think the documentation could be improved and I think the Wiki-Tab would be just perfect for that. Some things that might be helpful:

- additional information about certain config-sections
- a "how to get started" section
- some small guides

[2020-02-29 19:16] butonic commented on #127
Hm, the Wiki is enabled. How so you propose to Organizer it? So you have a good example we could follow?

[2020-03-05 12:18] poldi1405 commented on #127
I personally like [Sonarr's Wiki](https://github.com/Sonarr/Sonarr/wiki) as it is easy to navigate and has all the relevant sections (configuration, troubleshooting, contributing, ...)

[2020-03-26 13:45] ikhosravi opened #129 "UserPrincipalName support as User attribute"
Hi,
In Active Directory we have UserPrincipalName attribute for the User object which is the actual logon name for the user (Ex: user@domain.com). based on this feature some applications use this attribute for Active Directory authentication.
So the question is, could we have it as an attribute for user object in glauth?

Thanks in advance

[2020-03-31 13:29] Roemer commented on #86
This also prevents to use tools like LDAP Admin to easily browse the content / structure of the LDAP server.

[2020-04-05 10:01] maxilee opened #130 "unable to build on ubuntu 18.04.4 LTS"
hello.
I'm unable to build glauth on ubuntu 18.04.4 LTS.
there is error when I run "make getdeps"

I've tried both branches : master and dev. but both branches gives different errors :

master branch :
# make getdeps
go get -d ./...
package github.com/glauth/glauth/pkg/assets: cannot find package "github.com/glauth/glauth/pkg/assets" in any of:
        /usr/lib/go-1.10/src/github.com/glauth/glauth

[2020-04-05 10:09] maxilee opened #131 "shadowaccount on ubuntu 18.04.4 LTS"
I'm using on few machines ubuntu 18.04.4 and I've found that ubuntu searches LDAP for objectClass=shadowAccount  when user login to the system.

in source code in file "pkg/handler/config.go" in line 207 there is code which returns results only when LDAP client search for objectClass=posixaccount or empty filter.

'case "posixaccount","": '

this can be changed to :

'case "posixaccount", "shadowa

[2020-04-07 18:37] weibeld opened #132 "Config file hot reload doesn't work"
Just downloaded [v1.1.2](https://github.com/glauth/glauth/releases/tag/v1.1.2) and tried with a config file containing:

[code]

When editing and saving the config file (e.g. adding a user), nothing happens. Actually, GLAuth should reload the config file as defined in the [code](https://github.com/glauth/glauth/blob/master/glauth.go#L150).

[2020-04-26 13:06] anoma commented on #83
https://github.com/glauth/glauth/pull/75 was closed without comment but the issue it solved still persists.

Has this PR been rejected or just lost in time?

[2020-04-26 13:16] travisgroth commented on #83
The original author probably deleted their fork or branch and it got auto-closed.

I'd be willing to recreate - it seems like @butonic has taken over?

[2020-05-15 10:55] butonic commented on #129
yes ... and I also want to add displayName

[2020-05-15 11:02] butonic opened #137 "config: `cn` and `uid` should not both be mapped to the name"
`cn` is the human readable Common Name
[`uid`](https://ldapwiki.com/wiki/Uid) actually is the userid or login id.

But this will be a breaking change for the results produced by the config backend.

[2020-05-15 11:05] butonic opened #138 "introduce homed JSON User records"
https://systemd.io/USER_RECORD/ can be mapped to ldap posixaccounts nicely and I'd like to use i homed backend to test out [write support](https://github.com/glauth/glauth/pull/135).

[2020-05-15 11:41] #131 closed

[2020-05-15 11:41] butonic commented on #131
fixed with https://github.com/glauth/glauth/pull/136

[2020-05-15 11:46] butonic commented on #127
I enabled write access to the wiki for peoplewithout push permissions. Let's see how this evolves.

@poldi1405 feel free to add a structure as an Sonarr's Wiki ... looks like a start

[2020-05-15 11:46] #127 closed

[2020-05-30 23:43] anoma commented on #86
What is the current thinking around this issue?

[2020-06-23 17:53] yajo opened #141 "ARM (multiarch) docker image"
I'd love to use this project dockerized in the raspberry.

Is this on the roadmap? Can I help?

cc @joao-p-marques

[2020-07-01 17:06] darked89 opened #143 "README.md Quickstart vs sample-simple.cfg. port mismatch"
Hello,

in https://github.com/glauth/glauth#quickstart

the command from point 4:
[code]

but in  sample-simple.cfg
[code]

While it is trivial to fix, I think it is better if quickstart instructions just work out of the box/as written.

 Best,

DK

[2020-07-15 06:12] Yajo opened #144 "uidnumber or unixid?"
In the sample I see usage of `unixid`: https://github.com/glauth/glauth/blob/a92f9a7028fdf68952ffbed4958167b928dbc483/sample-simple.cfg#L70

But in the docs, it says [you must use `uidnumber`](https://github.com/glauth/glauth/tree/a92f9a7028fdf68952ffbed4958167b928dbc483#required-fields).

So, which one is right? :confused:

[2020-07-20 21:21] ferventcoder commented on #83
Would love to see this get fixed. This seems like it would be a great tool for setting up lightweight LDAP for testing purposes.

[2020-07-26 12:37] shah commented on #118
This is a great project! @butonic is PostgreSQL support now in the GLAuth released version? It seemed to me that #94 was closed but the code has not been merged in yet? My use case was the following: using GLAuth as LDAP front end to a GitLab-based PosgreSQL database so that I can use GitLab authentication as backend and GLAuth as front end. Is this possible?

[2020-07-26 21:09] oscar-b opened #146 "Arbitrary attributes to support for instance VLAN assignments?"
Is it possible to specify attributes such as `Tunnel-Type`, `Tunnel-Medium-Type` and `Tunnel-Private-Group-Id` for users, to enable VLAN assignments via for instance OpenLDAP?

Is there any other recommended approach for this, or is glauth simply not suitable for this use case?

[2020-07-27 07:47] ronikb opened #147 "Not able to connect glAuth server"
![glauth](https://user-images.githubusercontent.com/805095/88516591-26a84100-d00b-11ea-86dd-3720fb76f888.JPG)

As part of my evaluation of this tool, I just downloaded the latest binary and started it using the sample config file you specified here in the document. Looks like the service started but i couldn't able to connect. Attached the screenshot included my troubleshooting steps also.  I am n

[2020-07-28 00:39] aae42 opened #148 "directions on what is required to join a windows computer to the domain"
it would be amazing to know what all would be required for DNS and etc to join a windows computer to a glauth domain...

not just as a lightweight replacement for microsoft's domain services, but this would be incredibly useful as an integration testing tool for windows-based configuration management tools that rely on some simple AD services that could be mocked with glauth

[2020-08-21 06:11] lutzhorn commented on #147
Disable TLS in the `sample-simple.cfg` here by setting `enabled = false`. Or make sure you have the certificates.

https://github.com/glauth/glauth/blob/a92f9a7028fdf68952ffbed4958167b928dbc483/sample-simple.cfg#L34-L38

[2020-09-03 08:03] butonic commented on #148
True, but AFAICT currently way out of scope for glauth. It has more to do with kerberos. A good first point might be https://ldapwiki.com/wiki/Join%20AD%20Domain and discover the relevant LDAP attributes from there.

Better yet might be https://wiki.samba.org/index.php/Setting_up_Samba_as_an_Active_Directory_Domain_Controller because you can use samba to set up a domain controller. Or look for a d

[2020-09-03 08:03] #148 closed

[2020-09-03 08:06] butonic commented on #144
`unixid` in the config file becomes `uidnumber` in the LDAP api. I find this a little confusing as well, PR welcome.

[2020-09-03 08:08] butonic commented on #146
Currently, the attributes are hard coded to the structs for simplicity. We could make this more flexible by using a more generic mechanism. I currently don't have the time to look into that. PR welcome.

[2020-09-08 20:32] fgma commented on #144
@butonic See my PR.

[2020-11-05 16:05] mildred commented on #83
I'm getting the same error with Cyrus SASL client. it seems Cyrus SASL binds with an empty DN as evidenced in its code:

https://github.com/cyrusimap/cyrus-sasl/blob/0189425cc210555c36383293c468df5da73acc48/plugins/ldapdb.c#L117

The second parameter to `ldap_sasl_interactive_bind_s` is the bind dn, no ? I'm not entirely sure but it seems so. And because it is NULL, it seems that the bind dn is em

[2020-11-05 19:55] mildred opened #159 "Implement SASL"
glauth is not able to receive bind requests using SASL as per [RFC 4513 section 5.2](https://tools.ietf.org/html/rfc4513#section-5.2).

[2020-11-09 12:59] Nisaba commented on #86
Hello,
What about this issue ?
Is this project still maintained ?

Thanks

[2020-12-09 20:21] kang-makes opened #162 "Unable to integrate it with PAM"
I have enough services in my home lab to have a LDAP to try to centralize users but now enough to mount a full pledge LDAP like slapd or whatsever.

I was doing a test on some VMs to test this and worked with some services like next cloud and nginx-ldap but now I'm trying to integrated with Linux at PAM level.

I think Glauth is correctly configured:
[code]
`% ldapsearch -x -H ldap://glauth.s -D c

[2020-12-11 18:45] kangco-de commented on #162
I have downloaded and compiled `dev` branch in order to test if this fails and try to fix it and apparently it was fixed.

I've uploaded an image to my dockerhub repository while this new version is released: `kangcode/glauth:v2.0-dirty-faed82a`

I'll keep this bug open until v2.0 is released in order to follow it.

[2020-12-28 22:18] S0obi opened #163 "API server is not providing correct information"
Hello everyone !

I would like to report a non working feature in the API server for latest release (1.1.2). The stats are not properly displayed and a "Error!" message is displayed on the web page.

## Steps to Reproduce

1. Follow the readme to start glauth with the default config
2. Browse localhost:5555
3. Note the "Error!" message on the web page, data are not properly displayed

## Possible

[2020-12-29 18:54] thequailman opened #165 "New Release?"
Hello, the last release was back in February, when will there be a new release?

[2021-01-11 12:17] butonic commented on #165
hm, yeah I guess a relvease is due. Let me go through the PRs. It might take a while because I need to prepare for a conference in three weeks. You could help me out by leaving a review on the open PRs! That way I know which ones should work as expected ;-)

[2021-01-11 12:17] butonic commented on #165
so ... 'in february' is the correct answer.

[2021-01-11 12:18] #163 closed

[2021-01-11 12:58] butonic opened #166 "Link to a public chat, eg gitter or matrix"
I created a [glauth room](https://matrix.to/#/#glauth:matrix.org?via=matrix.org) in matrix because I don't have the glauth organization powers to add gitter. We should still add a link to the chat in the README. PR welcome!

[2021-01-11 15:24] butonic commented on #162
cool. I am planning a release in 3 weeks after I attended a conference.

[2021-01-11 18:18] butonic commented on #166
Maybe ![Matrix](https://img.shields.io/matrix/glauth:matrix.org)

[2021-02-02 20:30] scossu opened #168 "Empty BaseDN when searhing with Python ldap3"
I set up a GLauth docker container and populated the configuration with some users (see config at the bottom).

I can send a search query with ldapsearch and get the expected results:

[code]

GLAuth logs:

[code]

I tried the same with Python's `ldap3` library:

[code]

By debugging I ensured I am passing the same BaseDN, but the LDAP server replies with an error. The logs show that the BaseDN is

[2021-02-23 21:17] butonic opened #172 "I need access to the Glauth organization"
When @benyanke added me as an admin to the Glauth repo, he did not add me to the Glauth organization. I'd like to fix travis and create a gitter chat before the next release but that requires access to the organization.

I tried contacting @benyanke but he has not reacted for a week. I am opening this issue as another way to contact him and let everyone know that I want to move forward.

After the

[2021-02-27 04:15] benyanke commented on #172
I'm sorry for the delay on this. I've had very little free time for side projects at this time.

Let's connect up out of band, I'll get you the needed access.

[2021-02-27 09:39] butonic commented on #172
Thx @benyanke! And no hard feelings! I'll work on the release.

[2021-02-27 09:39] #172 closed

[2021-03-10 22:03] 12nick12 opened #173 "Two way communication"
Is there two way communication or is this strictly read only?

[2021-03-14 13:10] miathedev opened #174 "Change passwords"
More like question, not a issue. Im tinkering with glauth.
I tryed to change a password with ldappasswd.

**My config:**
https://paste.ubuntu.com/p/RZ69qfjT2J/

Im able to search for a specific type of user:

[code]

But! I wanted to change a password for the user _"adminuser"_ over ldaps

[code]

Did someone manage to change a users password over ldaps? Or does someone know what i made wrong?

Wi

[2021-03-18 08:31] butonic commented on #174
The LDAP libraries used by glauth do not support write operations like changing passwords: https://github.com/nmcclain/ldap#not-implemented

[2021-03-18 08:31] #174 closed

[2021-03-18 08:31] butonic commented on #173
read only, unless using another ldap server as a beackend: https://github.com/nmcclain/ldap#not-implemented

[2021-03-18 08:31] #173 closed

[2021-03-18 08:38] butonic opened #175 "check package versioning before the release"
AFAICT we need to add `v2` for the packages, following https://golang.org/doc/modules/major-version

There are some backwards incompatible changes that we should list. On the other hand we can add more breaking changes in v2.

[2021-03-31 14:33] sonicnkt opened #176 "Glauth - Web UI"
Hi,
i wanted to tell you about a small project i have been working on in the last two weeks.
Have been using glauth now for a few months and i love the simple and quick setup.
I also wanted to use glauth at work for unifying the authentication of a few services im hosting but since its read-only there was no way for users to change their name/email or password on their own.

Since i started to lea

[2021-04-01 08:07] LecrisUT opened #177 "High-Availability setup"
Is it possible to setup a few glauth LDAP servers behind a load-balancer or any other failover method?

[2021-04-25 14:34] lukasmrtvy commented on #37
Any progress on this ? Thanks

[2021-04-25 14:34] lukasmrtvy commented on #177
Related https://github.com/glauth/glauth/issues/37

[2021-05-07 06:47] patademahesh opened #178 "Password policies supported ?"
Is password change policy supported in glauth?

[2021-05-14 17:46] sbrl opened #179 "Suggestion: add bcrypt / Argon2 password hashing"
SHA256 isn't particularly good as a password hashing algorithm, because it can be quite easily brute forced. I suggest implementing either bcrypt or Argon2 /, Argon2i, because both of these algorithms have a variable cost that can be adjusted to avoid the issue.

[2021-05-17 18:32] surfrock66 opened #180 "OU and primary posix group have to be the same?"
This isn't an issue but a point of clarification; I didn't see anywhere else to ask questions.

Ideally in my environment primary group would be the user group for that user, but it looks in glauth primary group and OU are the same?  Am I understanding that correctly?

[2021-05-26 14:04] candlerb opened #181 "Doc: show DN format"
Just a minor suggestion: it would be really helpful on the front page to describe the default format of DNs for users, which I believe is:

[code]

I started with the front page [example configuration](https://github.com/glauth/glauth#configuration), and since anon binds are not permitted, it took quite a lot of experimentation until I stumbled on it.

Admittedly, if I had used the [other sample c

[2021-05-26 15:53] candlerb commented on #98
Updated link: https://github.com/glauth/glauth/blob/master/pkg/handler/config.go#L51-L59

The error actually has two spaces, showing that the group used is "" (empty string)

[code]

I agree, it looks like the *intention* was to support bind without providing the group part of the DN, but this was not properly completed.

[2021-06-14 10:34] candlerb commented on #180
As far as I can tell, that's correct (see also #181).  Which means that if a user changes their primary group, their DN changes too.

[2021-06-16 14:11] pratikbalar opened #182 "Invalid AWS region: ap-south-1"
Version: `v1.1.2`

[code]
Credentials and region are fine, I quadruple checked that.

When i tried with `us-east-1`
[code]

[2021-07-06 11:14] sc0rp10 commented on #118
hi! Is there any progress with this task?

[2021-07-08 13:57] hth2 opened #183 "glauth does not work with gitea"
Hi,

I exposed a ldap server via glauth to public net, using the ldap backend connected to a ldap server in internal net. My intent is  to use glauth as authentication source for a gitea server facing public net.

I have tested glauth successfully using ldapsearch as follows:
[code]

However I cannot get it work with gitea; glauth log says
[code]

but gitea web UI says "incorrect username or passw

[2021-07-08 14:00] pratikbalar commented on #183
Can you share LDAP config in gitea?, it looks like from incorrect mapping of ldap fields with gitea.

[2021-07-08 14:24] hth2 commented on #183
update: I also tried to add `--username-attribute  uid`  but it didn't seem to make any difference.

[2021-07-08 14:45] pratikbalar commented on #183
I am able to login @hth2
default glauth config with only below config change in gitea, (my Glauth running with tls so LDAPS)

![image](https://user-images.githubusercontent.com/68642400/124942196-0c535180-e029-11eb-87b5-6269a609d4e2.png)

[2021-07-08 17:37] hth2 commented on #183
@pratikbalar can you please share the version of gitea and glauth you are using?

[2021-07-08 17:50] hth2 opened #184 "How to test if my glauth is working properly?"
I am having some trouble getting glauth and gitea working, so I wonder what are some ways to test if my glauth setup is working properly. Here is the summary of what I have tried:

- ldapsearch: works
- ldapwhoami: does not work, `Protocol error (2)`
- jxplorer (a ldap client/browser): does not work, some error related to schema that I don't understand
- apache-directory-studio: tests "Check netwo

[2021-07-12 23:09] ColonelThirtyTwo commented on #3
Should use a dedicated password algorithm like bcrypt or argon2.

A single round of sha256 is only somewhat better than plaintext. It's definitely weaker than the norm.

[2021-07-15 10:03] Tony2 opened #186 "ldap filter `memberOf` does not work"
I use glauth w/ ldap backend. The filter using `memberOf` doesn't seem to work. Example:
[code]

The same query works with the ldap backend.

[2021-07-16 01:42] Fusion opened #187 "Soft Fork Time?"
@benyanke @butonic @Zenithar so, after more than a year of trying, and getting in side conversations with folks who would really like to see some stuff improved, here we are.

What do you guys think? Should we create a "soft fork" (I don't mean to be rash so I would have no problem working on a fork that could later be re-incorporated in the main repo) and start reviewing pull requests as well as

[2021-07-16 02:34] benyanke commented on #187
I'd love to see the project continue mainline development without needing a ton of forks. I sent you an email, let's continue out of band.

We can figure something out I'm sure.

[2021-07-16 04:27] benyanke commented on #187
Hi Fusion,

After our out of band discussion, you have been added as a project maintainer. Thank you for your willingness to help continue this project forward!

[2021-07-16 04:27] #187 closed

[2021-07-16 04:29] benyanke commented on #177
Yes, this is completely doable. glauth is read-only, so there's no reason you couldn't load multiple instances with the same config file behind a TCP load balancer, or DNS round-robin. As long as the same config is the same, youc an do HA with no issue.

[2021-07-16 04:30] benyanke commented on #177
@lukasmrtvy not sure if this is actually related - this ticket is requesting info on HA configuration, #37 is documenting the need for some additional integration testing to run in CI.

[2021-07-16 04:30] #177 closed

[2021-07-16 12:41] butonic commented on #187
@Fusion @benyanke sorry for my lack of responsiveness. Yes my main work is on owncloud/ocis. And we rely on glauth there. The currend glauth/dav branch should probably be released asap. The question is the direction of glauth in general. I'd really like to keep it small. maybe even without a web ui so you could just use it in ci or for small deployments with a file based user backend.

While diggi

[2021-07-18 00:55] Fusion commented on #187
I agree with you that small is beautiful :)

Well, it is:
- manageable
- faster to build
- easier to configure
- more secure (reduced attack surface)
- easier to compose

Re: Upstream library limitations

I too did notice some limitations in the LDAP library, not all of them having to do with writes. In some cases, I had to work around in my code to make it compatible with more picky clients such

[2021-07-18 19:47] Fusion commented on #3
- be sure to use one-tine salts to avoid compromising all passwords if a single one gets reversed
- backward compatibility shouldn't be an issue if using bcrypt: the newer scheme would generate hashes starting with "$2y$"

[2021-07-18 19:49] Fusion commented on #179
Good point.

Will be addressed as part of https://github.com/glauth/glauth/issues/3

[2021-07-18 19:49] #179 closed

[2021-07-18 19:51] Fusion commented on #178
Not one of the project's current goals.

IMO, password policies should be external to glauth's role as a password "consumer", rather than "producer"

This does not mean that a companion project/tool should not exist.

[2021-07-18 20:00] Fusion commented on #184
Your setup looks good.

In general, the easiest way to figure out what is missing from the consumer's end is to run your LDAP session through a debugger. For instance, using ldap-debugger (you will need Java):

[code]

[2021-07-18 20:01] Fusion commented on #118
It is currently checked in the dev branch. Until a new release comes out you will have to build glauth yourself.

[2021-07-18 20:08] Fusion commented on #176
This is fantastic.

Note that, in another issue, someone was requesting password policies (my guess is: expiration, acceptable password complexity, etc) I wonder if you would have time to add this feature.

glauth itself is easy to configure and use, and thus focuses on the LDAP queries aspect. A project that offers account lifecycle management is a perfect complement.

[2021-07-18 21:03] sonicnkt commented on #176
This is a good idea, if glauth stays readonly it would be better to add those features to the interface instead as a normal user wouldnt be able to change those otherwise anyway.

I will put this on my todo. havent touched it in a while as i was busy with other stuff (and it was working well enough for my production use ;) ).

a good addition for glauth regarding password would be stronger (or con

[2021-07-18 23:38] Fusion commented on #176
Yes, stronger hashing and unique salts are also likely to happen :)

[2021-07-18 23:40] Fusion commented on #165
Changed to "August" -- sorry.

[2021-07-19 00:09] Fusion commented on #186
What OS are you running your tests on? I could send you a recent dev build; I would like to know if some fixes I added to the proxying feature would address this issue.

[2021-07-19 01:30] Fusion commented on #166
I believe you now have org access? If so would you still consider adding Gitter?

I joined the matrix room in the meantime...

[2021-07-19 09:04] pratikbalar commented on #183
Using `latest` docker image

[2021-07-19 09:07] hth2 commented on #184
thank you for the helpful hint.

I tried ldap-debugger, it shows indeed a lot information. Unfortunately I cannot make sense of them all. Below is the output from ldap-debugger when running ldapwhoami with a credential that works ok with ldapsearch against glauth. The same command also works against the ldap backend (192.168.0.103 in my config). It looks like the bind was successful, but ldapwhoam

[2021-07-19 09:31] hth2 commented on #186
Linux 64bit. I am happy to give it a try.

[2021-07-19 22:26] Fusion commented on #187
I joined that room but it feels a bit lonely in there ;)

I also created a few entries in the Wiki, and created a couple feature branches where I could use some wise input!

[2021-07-20 05:52] Fusion commented on #186
Cool. Here it is: https://mega.nz/file/11gAzTSD#n_zgVr-AVPYiJoas27w3D61DOYo-4F1rdTlIxqbDWXc

[2021-07-20 10:30] pratikbalar commented on #186
I was facing this same `memberOf` issue for retrieving groups in DexIDP,

[2021-07-20 16:29] nmcclain opened #188 "FYI updated LDAP library"
FYI I just merged two PRs into the upstream Go LDAP library: https://github.com/nmcclain/ldap

I will close this issue in a couple of days.

[2021-07-20 23:17] Fusion commented on #186
As I suspected, this is partially fixed.
I injected the requested attribute in the server's response so that the LDAP library would not filter it out.
Now, I need to consider recursive filters like this "and" clause in your example. This is going to be fun.

[2021-07-21 01:10] Fusion commented on #186
Pushed to a "fix" branch. Hoping to get it reviewed by more eyeballs before I merge it in.

[code]

[2021-07-21 07:07] fanlix commented on #186
glauth parsed` [[groups]]` to `ou`, so this works:
`(memberOf=cn=superheros,ou=groups,dc=yq16,dc=fun)`
this does not work
`(memberOf=cn=superheros,cn=groups,dc=yq16,dc=fun)`

[2021-07-21 07:12] fanlix commented on #132
v1.1.2 reload not works. ubuntu 20.04.2

[2021-07-21 08:51] fanlix commented on #132
figure this out, it's fsnotify lib & vim/editor/fs problem.  origin issue: https://github.com/fsnotify/fsnotify/issues/17

* pure write works
* `cp xx.cfg xx.cfg` works
* `vim xx.cfg`, use  `:w` to save, not works.
  * also cause fsnotify quit.
  * set nobackup in vim, works. but we never do this.

## answer
* `./glauth -c config.cfg`
* edit a copy of config file `config.cfg.edit`
* when finished

[2021-07-21 19:50] Fusion commented on #186
Hi @fanlix please note that we are discussing the LDAP backend. Your comment on the config backend is correct, of course.

[2021-07-23 14:07] hth2 commented on #183
after some experimenting I got gitea working with glauth. I don't recall the exact cause why it didn't work before; I think it was the missing "User Attribute" (= `uid` in my case). Thanks to @pratikbalar for your help.

[2021-07-23 14:07] #183 closed

[2021-07-25 05:29] Fusion opened #193 "Need fix Travis CI API wiring"
Hi @benyanke and @butonic I would like to bring to your attention that Travis CI stopped performing builds @ travis.org since the 15th. As a result no pull request can be reviewed.

Also it's been a bit difficult to get hold of you guys (I know it's part of the game!) but since I do not have access to the project's settings I cannot update branch constraints or I would have fixed the issue myself.

[2021-07-25 05:51] benyanke commented on #193
It probably doesn't make much sense to have me hook it up under my own name again, but you have project admin now, so you should be able to just re-set it up using the existing travis config in the repo. The only thing that'll probably break is the "release" bit at the bottom, which never fully worked anyways.

[2021-07-25 05:51] benyanke commented on #193
For what it's worth, it only ever did testing, not any pushing anywhere, so it can be setup by anyone using the in-repo config.

[2021-07-25 07:35] Fusion commented on #193
Thank you.
Yes, I setup travis-ci.com to work against the org/repo. It was a bit of a challenge but I think/hope I got it right (the secret was to remove the old mandatory check, run an integration test once with the test as an option, then, github having learnt about that new hook, add it back to the branch requirements)
Regarding the topic of releases, do you want to work together on preparing a

[2021-07-25 14:44] benyanke commented on #193
Feel free to go for it. Beyond the typical testing steps, all I really do is locally compile and then upload the binaries to the release entity in GitHub.

[2021-07-25 19:22] #186 closed

[2021-07-25 19:23] #118 closed

[2021-07-25 20:03] Fusion commented on #188
Thanks Ned!

[2021-07-25 20:03] #188 closed

[2021-07-26 00:01] Fusion commented on #3
Added bcrypt support in #195

[2021-07-26 00:01] #3 closed

[2021-07-26 00:03] Fusion commented on #193
OK thanks.

[2021-07-26 00:03] #193 closed

[2021-07-26 00:03] Fusion commented on #132
Merged in.

[2021-07-26 00:03] #132 closed

[2021-07-26 05:26] #166 closed

[2021-07-26 09:52] Tony2 opened #197 "glauth seems to work fine, but with syslog reports many "ping failed" errors"
my glauth instance seems to work fine, except that in syslog I see many errors like following:

[code]

my glauth.cfg has
[code]

and my ldap backup listens on 7389 (plain) and 7636 (ssl).  I can run ldapsearch on the glauth server against the backend ldap.

I would like to get rid of those messages in syslog. Any hint please?

[2021-07-29 02:23] Fusion commented on #197
Logging levels are not currently configurable beyond "debug" -- this is something that will eventually need to be made a bit more flexible but from what I am seeing in the existing code, Butonic had a real ball wiring some interesting pipes together :)

Do you know why you are seeing these messages? Does you backend actually stop responding on occasion?

[2021-07-29 07:44] Tony2 commented on #197
I get these msgs regularly; both glauth and the backend seems to work fine from end-user POV.

[2021-08-01 20:14] Fusion commented on #178
If complete account lifecycle management is what you are after, I would recommend a heavier solution, such as https://www.freeipa.org/ (I use it as well as GLAuth and it works great in an enterprise environment, when advanced features such as account management or AD federation are needed)

[2021-08-01 20:14] #178 closed

[2021-08-03 00:25] Fusion commented on #176
Strong hashing and unique salts were added.

I even got to contribute a little bit to the ui project (PR) :)

Closing and will definitely find a way to mention the project in future documentation.

[2021-08-03 00:25] #176 closed

[2021-08-03 01:13] Fusion commented on #168
Fixed by https://github.com/glauth/glauth/pull/133 (I know; do not trust the commit name)

[2021-08-03 01:13] #168 closed

[2021-08-03 01:14] Fusion commented on #68
I believe this was fixed by https://github.com/glauth/glauth/pull/133 anyone care to confirm?

[2021-08-08 23:05] Fusion commented on #68
According to my testing, fixed by #133 (do not trust that PR's name! It's pretty big due to code drift...)

[2021-08-08 23:05] #68 closed

[2021-08-08 23:39] Fusion commented on #182
Hi @pratikbalar I have some good news: I tried to reproduce this issue and could not. I created and tested against a bucket in ap-west-1, one in ap-east-1 and one in ap-south-1.

I think what you have been seeing is due to GLAuth needing a new release! The issue likely is that the public versions are linked against an outdated version of the S3 SDK:

- ap-east-1 would not work well due to the olde

[2021-08-08 23:39] #182 closed

[2021-08-08 23:41] Fusion commented on #180
Yes, I can confirm that this is both correct and tied to their primary group.

[2021-08-08 23:41] #180 closed

[2021-08-08 23:44] Fusion commented on #181
I think this will be added to the Wiki. Too many subtleties in LDAP and how we interpret the standards!

[2021-08-09 00:18] Fusion commented on #162
I also created a Wiki page that describes two different ways to implement PAM auth using GLAuth:

https://github.com/glauth/glauth/wiki/SSH-PAM-(Pluggable-Authentication-Modules)-configuration

[2021-08-09 00:19] #144 closed

[2021-08-09 00:21] Fusion commented on #86
We have been taking "baby steps" towards full browsability. We have introduced root support and are working on enumeration.

This is, however, not a priority as the project's main goal is providing easy to configure authentication.

[2021-08-09 00:23] Fusion commented on #130
This was tested and works in the dev branch. @butonic did make some changes w/r/t logging.

[2021-08-09 00:23] #130 closed

[2021-08-09 07:01] kang-makes commented on #162
I think this is still a issue until I'll keep this bug open until v2.0 is released...

[2021-08-09 07:38] Fusion commented on #162
Fair enough. Re-opening until v2 release.

[2021-08-11 03:55] Fusion commented on #10
I am going to close this one as we now have a path for unit tests and I intend to keep adding more as edge cases crop up.

[2021-08-11 03:55] #10 closed

[2021-08-11 03:58] Fusion commented on #40
I think you are too hard on the poor Makefile :)

Right now, it looks pretty clean to me. Yes, there is some duplication but it makes it easier to figure out what platform you are building for. Due to the number of permutations that exist when writing plugins, I made the plugins/ Makefile dependent on environment variables. I don't think it's all that great.

[2021-08-11 03:59] Fusion commented on #34
Done. Simple as simple goes!

[2021-08-11 03:59] #34 closed

[2021-08-11 04:02] Fusion commented on #47
Still learning Go, but one thing that's become pretty clear to me is that code complexity, when expressed in number of "return" statements, should follow different rules when applied to Go.

I would say, due to the way `errors` are generated and managed, there should be a bigger allowance for Go programs. Sure, one could write much less "complex" software in languages that support Exceptions. Iron

[2021-08-11 04:02] #117 closed

[2021-08-11 04:05] Fusion commented on #82
Reviving this: what do you think the best language for a scripted backend would be? Lua typically comes to mind, but maybe Javascript, or even a Go-like scripting language?

[2021-08-11 04:06] Fusion commented on #147
Resolved by ghost. Thanks!

[2021-08-11 04:06] #147 closed

[2021-08-11 04:13] hongkongkiwi commented on #82
How about calling a system executable OR calling a rest call so it can be backend agnostic?

[2021-08-11 04:25] benyanke commented on #82
the powerdns "pipe" backend options might be a useful example here:

https://doc.powerdns.com/authoritative/backends/pipe.html

You can specify an arbitrary executable that is fed the incoming query, and responds back with the result. You can then use that script to implement whatever custom logic you want, whether lua, go, etc.

[2021-08-11 04:41] Fusion commented on #82
Yes @benyanke I imagine these backends are communicating with the server through pipes, actually, which would mean not having to pay the fork/exec tax of executing an external binary.

@hongkongkiwi REST or gRPC, etc calls are also a good approach. Ironically when I was writing plugins for database support for GLAuth, I stumbled upon Hashicorp's version of plugins, which works similarly (the plugi

[2021-08-11 22:46] #98 closed

[2021-08-12 01:14] #129 closed

[2021-08-12 04:10] Fusion commented on #159
This is definitely a major enhancement request. It is likely that we will look into it over an extended period of time.

We would need to support the bind mechanism (may have to modify the LDAP library to support the additional attributes) then settle on some algorithms and finally get to work; that is, implement support for these algorithms.

Kerberos5 would likely be the first implemented algori

[2021-08-12 04:14] Fusion commented on #97
Weird. Didn't find any ansible work.

@egeneralov feel free to re-open this if I am missing something.

[2021-08-12 04:14] #97 closed

[2021-08-12 04:15] Fusion commented on #5
Turns out, I recently added this flag to the configuration without realizing there was an issue opened.

Will be in 2.0 release.

[2021-08-12 04:15] #5 closed

[2021-08-12 19:58] Fusion commented on #55
I just checked in rate limiting for failed binds as this, indeed, seems like the most important one.
We could, conceivably, add more rate limiting for everyday operations but at this time I am concerned about how exactly we would behave: would we reject the requests, at the risk of breaking the clients, or queue them and delay them, or a mix of both approaches based on resources usage?

[2021-08-15 01:49] blasphemite opened #208 "User serviceuser primary group is not svcaccts."
I was trying to setup with custom config and kept getting error `primary group mismatch` so I tried example config and am still getting errors.

Using Docker Hub image v1.1.2 with quickstart example config.

Using example `ldapsearch -LLL -H ldap://localhost:3893 -D cn=serviceuser,ou=svcaccts,dc=glauth,dc=com -w mysecret -x -bdc=glauth,dc=com cn=hackers`

Returns error `ldap_bind: Invalid credenti

[2021-08-16 08:21] Fusion commented on #208
This is unsettling, for sure.
Note that your config file reflects a syntax that is more recent than the one used in v1.2.2, which is now quite outdated.
I apologize for the confusion as it looks like the most recent release (2.0.0 RC1) has not been pushed to the Docker hub. I'll check what is needed to push it successfully.

[2021-08-22 00:27] Fusion commented on #208
@blasphemite Would you mind pulling the latest "latest" image and trying again?

[2021-08-22 02:34] blasphemite commented on #208
Sample config & my customized config seem to now be working with v2.0.0. Thanks!

[2021-08-22 02:34] #208 closed

[2021-08-22 21:36] Fusion commented on #208
Excellent. Thanks for taking the time to confirm!

[2021-09-05 17:54] kittywitch opened #213 "With the database plugins, the database config line is printed to syslog if syslog is enabled"
With the config (this is under NixOS, I'm packaging and making a module for GLAuth over time):
[code]

Upon startup you get the log output:

[code]

Within that log there are multiple examples of the password being printed, for example:

[code]

This contains the database password for the service on the default log level settings. This seems distinctly inadvisable.

*Note: Previous versions of thi

[2021-09-06 03:55] Fusion commented on #213
Good point, thanks. This is one of these "it's only temporary" things that creep up in a build. Removed in dev branch.

[2021-09-06 03:55] #213 closed

[2021-09-17 11:26] pratikbalar opened #218 "Configure glauth in foreman using `Groups base DN`, not `LDAP filter`"
I want to configure glauth in foreman using `groups base DN` not `LDAP filter`.
it's working (grouping is working) when I configure `LDAP filter` to `memberOf=cn=vpn,cn=groups,dc=glauth,dc=com` but we have another system which does not have `LDAP filter` option :point_down:, so I want to unify the configuration using `Groups base DN`.

what im missing here as im not good at all in ldap quering, le

[2021-09-17 11:54] pratikbalar commented on #162
@kang-makes  any updates ?

[2021-10-01 23:40] techjutsu-mikeb opened #220 "DOC: Update to include new v2.0.0 database example configuration"
The README or documentation does not include examples on how to use the new database plugin.
Can example configuration be added to the README?

[2021-10-02 00:09] Fusion commented on #220
Hi Mike. There is a README in the directory where the plugins are:
https://github.com/glauth/glauth/tree/master/pkg/plugins

Let us know if it's not good enough!

[2021-10-02 00:15] techjutsu-mikeb commented on #220
Perfect - didn't realize there was a plugins specific README and example config.
Thanks for the quick response.

[2021-10-02 00:15] #220 closed

[2021-10-05 03:47] gaby opened #222 "Admin UI for glauth"
Are there any plans to introduce an admin web ui for glauth?

[2021-10-05 06:30] Fusion commented on #222
Gaby, are you referring to something like this: https://github.com/sonicnkt/glauth-ui

[2021-10-05 11:46] gaby commented on #222
Exactly what I am ooking for, just afraid the project will get abandone, since it's run by one person.

[2021-10-05 19:52] Fusion commented on #222
It is a valid concern. Nils, the UI project maintainer, is still actively working on it.

All I can tell you is that many projects (such as this one) start with one maintainer then, through growth, attract more contributors.

Of course, the worst case scenario (the project being abandoned) is a possibility. The silver lining being that:
- This is open source and someone else may take over
- There

[2021-10-05 21:01] gaby commented on #222
Sounds good, looking forward to using this. :-)

[2021-10-05 21:01] #222 closed

[2021-10-07 13:50] aanderse opened #223 "Support multiple configuration files via a conf.d like directory"
I would find it convenient if this software could merge multiple configuration files together using the `/etc/glauth/conf.d/*.cfg` pattern like many pieces of software are doing these days.

I believe there are libraries to take care of configuration merging like this, though I'm not sure if there are any in `go` for the `toml` syntax used by `glauth`.

Thanks for your consideration.

[2021-10-07 20:09] aanderse opened #224 "minimal sssd-ldap example"
I didn't want to resurrect #5 so: does anyone have the configuration required for a minimal working `sssd` with `glauth`?

[2021-10-11 16:55] aanderse opened #225 "jpegPhoto attribute"
After looking through the issues I found mention of a [generic mechanism](https://github.com/glauth/glauth/issues/146) to add more ldap attributes to `glauth`. That seems like a good idea. Currently the database backends have no concept of migrations, so adding any new attributes at this point would likely break existing installs without user intervention.

So would a new `jpegPhoto` attribute be

[2021-10-20 16:41] C0rby opened #226 "Missing assets package and incorrect module path for v2"
I wanted to update the glauth version we use in [oCIS](https://github.com/owncloud/ocis/) but failed for two reasons:

[code]
The assets package is missing. I know it is being generated when running `make bindata` but AFAIK that isn't possible when you are using glauth as a library like we are.

The second reason:
[code]
This happens because the module path in your `go.mod` file is missing the `/v

[2021-10-21 01:24] Fusion commented on #226
So, I *think* that you could check whether what I've done works with:

[code]

In theory, this is V2, latest commit. I have not assigned any tag yet.

[2021-10-21 05:53] wkloucek commented on #226
Thank you for your quick help :-)

Confirmed, that the import works without problems: https://github.com/owncloud/ocis/pull/2656

[2021-10-21 06:41] pratikbalar commented on #218
Foreman implements group base DN differently, or I'm not understanding grouping either way here's link for it

https://community.theforeman.org/t/ldap-group-dn-not-working-properly/25737/4

[2021-10-21 06:41] #218 closed

[2021-10-21 08:39] #226 closed, assigned to nobody

[2021-10-28 07:46] lukasmrtvy opened #230 "v2.0.0 sql backend is not working, ldaps must be explicitly enabled and v2.0.0 docker image probably contains wrong version of glauth"
hey 👋 have few problems with glauth, see my docker-compose.yaml and problems below:

[code]

**problem1**  - its not possible to use plugin backend, fails to:
[code]

**problem2** - without explicitly disabled ldaps:
[code]
glauth fails to to:
[code]

**problem3** - not sure if its problem, but docker image glauth/glauth:v2.0.0 ( glauth/glauth@sha256:75004ee975658724599f7acc4bb8a0018274b502b2e47a1

[2021-10-31 21:01] Fusion commented on #86
Thank you for your patience. Some bad internet juju in my area delayed sending the file. I have made the 32 and 64 bit versions available here: https://we.tl/t-9924WuK14r

It's the first time I use that service; I hope it works well!

[2021-10-31 21:05] Fusion commented on #230
Hi Lukas,

Please change
[code]
to
[code]
as this should be referencing the dynamic library file.

Regarding `ldaps`, I am not sure what the original intent was, but it may be meant to force you to specify that you wish to forego security.

Yes, I will look into the image versioning. Some mistakes may have been made! On a side note, it you are looking for an image with the plugins already included

[2021-10-31 21:22] lukasmrtvy commented on #230
Hey 👋 Thanks 🍺 Will be `glauth/glauth-plugins` image versioned ? `nightly` does not sound stable :)

[2021-10-31 21:44] Fusion commented on #230
FYI, I have been using the "nightly" tag to give pause to potential adopters. Truth is, these builds come from the dev branch, where no commit is made directly but rather pre-vetted and tested.

I need to add an explanation to the documentation, so that everyone knows what they are getting into :)

[2021-10-31 22:42] lukasmrtvy commented on #230
Okay, still.. replacing dynamic library file to `plugin = "/app/config/postgres.so"` does not work..

[2021-11-01 12:59] pratikbalar commented on #86
Getting `ldap_bind: Invalid credentials (49)`, I double-checked creds.

`ldapsearch -LLL -H ldap://$(docip glauth):3893 -D uid=serviceuser,cn=svcaccts,dc=glauth,dc=com -w mysecret -x -bdc=glauth,dc=com ''`

logs
[code]

Using below config (Default that ship with glauth container)
<details>
  <summary>Click to expand!</summary>

    #################
    # glauth.conf

    #################
    # G

[2021-11-01 17:47] pratikbalar commented on #86
Can you check those changes into branch if you can, so I can take at look into it

[2021-11-01 18:15] Fusion commented on #86
Yes these changes are available in the current dev branch.

If you try to log in using `cn=` rather than `uid=` you should find that this works. Were you previously able to log in using `uid`? If so I need to look into the issue as automated regression tests all use `cn`.

[2021-11-01 18:17] Fusion commented on #86
I should add that, if you are looking into the source code, you now need to check what's under `v2/`

[2021-11-02 05:26] pratikbalar commented on #86
Tried both `cn=` and `uid=` before.

Our glauth v2 instance configured as :point_down: , and it's working fine

[code]

[2021-11-05 01:02] splitice opened #231 "Restrict service login"
One thing I've noticed that is missing is a differentiation between users being served (for whatever systems are being authenticated for) and access to the LDAP server.

I went about building this into my fork (https://github.com/splitice/glauth/commit/dbc0fceeae5c3172a32e63cade7f504a1069f5bd) however this isnt a configurable method of doing this.

Unfortuantely there isnt with the current API an

[2021-11-05 01:03] splitice opened #232 "employeeType attribute"
Standard attribute that is missing.

Related to #146

[2021-11-05 21:25] Fusion commented on #231
Hi. Are you referring to the fact that not all users should be able to search the server?
If so, can you have a look at [capabilities](https://glauth.github.io/docs/capabilities.html) and share your thoughts?

[2021-11-05 21:25] Fusion commented on #230
OK, dumb question: is postgres.so present in /app/config?

[2021-11-05 21:27] Fusion commented on #86
Sorry I am not sure what your chronology looks like (limitations of the English language!)
When you write that you tried both before, you mean before this patch? And, at the time, `cn=` and `uid=` both worked to bind a user?

[2021-11-05 21:29] Fusion commented on #232
OK that's a fair comment. It appears that folks are using GLAuth for more in-depth use cases than originally anticipated so we should start investigating arbitrary attributes accordingly.

[2021-11-06 00:44] splitice commented on #232
Yes I think people are finding a real need for a simple to configure read-only LDAP service

[2021-11-06 00:46] splitice commented on #231
yes, whem that merges it will do what is expected

I do think it would be more convenient to specify it at the group level (all members of this group are service accounts)

[2021-11-06 04:38] Fusion commented on #232
Current thinking for the config file (databases would be handled differently obviously):

[code]

[2021-11-06 22:42] Fusion commented on #231
A valid point. Right now, we expect clients to use groups to determine access, so it would make sense for the server itself to also follow this pattern.

[2021-11-08 00:42] splitice opened #234 "WatchConfig should also watch cert/pk"
I'm investigating using lets encrypt to generate a valid CA signed certificate. A certificate like this expires every 90 days.

It would be ever so convenient if the `WatchConfig` option was expanded to include the certificate / pk file.

[2021-11-08 03:48] Fusion commented on #86
If you have time, this new version should work with cn, uid, ou... whichever one you configure:

https://we.tl/t-rrC4JXMIAt

[2021-11-08 17:12] lukasmrtvy commented on #230
@Fusion ofc,

here is updated docker-compose.yaml
[code]

[2021-11-09 02:39] GrinningMuffin commented on #230
[backend]
          datastore = "config"
          plugin = "postgres.so"

changing datastore to config and dropping the app/config/ from the front worked for on my end; i'm running the nightly glauth-plugins docker image on unraid

[2021-11-09 08:50] pratikbalar commented on #86
Getting
Tried
[code]

std(out/err) :-
`14:11:23.571992 Bind ▶ DEBU 015  "level"=6 "msg"="Bind request"  "basedn"="dc=glauth,dc=com" "binddn"="cn=serviceuser,ou=svcaccts,dc=glauth,dc=com" "src"={"IP":"127.0.0.1","Port":47268,"Zone":""}
14:11:23.572115 findUser ▶ WARN 016  "level"=2 "msg"="User not found"  "username"="cn=serviceuser"`

I used config that come with glauth container image.

[2021-11-13 21:01] Fusion commented on #86
Is that config found in `scripts/docker/default-config-standalone.cfg`?

Or is it an older version? Sorry this is taking a while, there may be some expectation mismatch w/r/t config files.

[2021-11-13 21:03] Fusion commented on #230
To clarify:

Are you creating your own container specification, then,  rather than use the one available in the unraid app store?

[2021-11-13 21:04] Fusion commented on #234
Good point. This being said, the WatchConfig feature was created a while ago and I am not clear on how much testing was performed at the time. Do you have good experience with dynamic reload, outside the cert concern?

[2021-11-13 22:27] splitice commented on #234
It works for me when adding users/groups.

[2021-11-16 09:18] splitice commented on #234
One note I will add is that the watcher does not work recursively.

This can be worked around but its worth noting that k8s configmaps when mounted as volumes are nested symlinks (2 deep).

[2021-11-17 06:57] go-goll opened #235 "Some small errors in the documentation about using the plugin"
![image](https://user-images.githubusercontent.com/47687425/142149323-2d67790a-5083-49aa-bda1-737e4166b2f4.png)
As shown in the figure, the writing of SQL seems to be irregular, which will cause the DB to not be parsed. This is just a small problem. It would be great if you can fix it.

[2021-11-19 08:45] ICQFan4ever commented on #162
Working well in my homelab.
But I've created groups with names "posixAccount" and "shadowAccount" then added them as groups [... ...] in [[user]] section

[2021-11-22 08:00] Fusion commented on #235
Wow. Eagled eyed you are.

Yes I need to fix this. I cannot unsee it now.

[2021-11-23 13:42] ICQFan4ever opened #236 "Unable to find 'NewPluginHandler' in loaded backend plugin"
Hello.

Source code was taken here - https://github.com/glauth/glauth/releases/tag/v2.0.0

Then I make it, using `make fast`:
[code]

Then I've compiled `postgres.so `:
[code]

Now I'm trying to launch glauth with this [backend] section:
[code]
... and getting this error:

[code]

Can anyone help me with this?

[2021-11-23 15:17] ICQFan4ever commented on #236
The solution is:
`pluginhandler = "NewPostgresHandler"`
Didn't find any information about this if examples.

[2021-11-23 15:17] #236 closed

[2021-11-23 22:34] Fusion commented on #236
Well, don't I feel foolish now, for forgetting to specify this setting. Apologies to anyone who tried to run with a plugin and were left scratching their head. Good job, @ICQFan4ever

I have now updated the online documentation at https://glauth.github.io/docs/

[2021-11-24 11:54] ICQFan4ever opened #239 "Any way to change objectClass?"
I'm using glauth with postgres plugin and I see that there's no way to change objectClass in my database (there's no any fields like this)

I've tried to launch glauth using `backend="config"`; added `objectClass = person` in [[users]] section and got error
`ERRO 001  "error"="Near line 55 (last key parsed 'users.objectClass'): expected value but found \"person\" instead" "msg"="Configuration file

[2021-11-24 23:27] Fusion commented on #239
Starting with 2.1.0 (which I am trying to release this week, but cannot guarantee) customer attributes are supported. This also covers adding new values to existing attributes. As explained in [this page](https://glauth.github.io/docs/custom-attributes.html) you will be able to add an additional value ("person") to objectclass using the `customattributes` setting.

[2021-11-25 07:58] ICQFan4ever commented on #239
Thanks for your answer.

It would be ok even if it won't be released this week. I hope this features will be supported in DB-plugins :)

[2021-11-26 06:07] Fusion commented on #239
Please give this release a try: https://github.com/glauth/glauth/releases/tag/v2.1.0-RC1

[2021-11-26 06:08] Fusion commented on #86
Please give this release a try: https://github.com/glauth/glauth/releases/tag/v2.1.0-RC1

[2021-12-13 06:31] hellerbarde opened #246 "dn attribute contains too many "ou=" things"
### Regression 2.0.0 -> 2.1.0-rc1

The dn reported by a search query contains 2 ou= thingies, both for the primary group and another group called "users". Like this: `cn=hellerbarde,ou=superheros,ou=users,dc=example,dc=com`

This dn is then used as a binddn, which gets rejected by glauth. See this log excerpt:

[code]

I had this problem with both [gitbucket](https://github.com/gitbucket/gitbucket

[2021-12-13 06:40] hellerbarde commented on #246
To be 100% clear: The same setup, config and everything worked again by just replacing the 2.1.0-rc1 binary with the 2.0.0 release binary.

[2021-12-14 15:13] sperolsmicroej commented on #68
This problem still exists

[2021-12-21 01:16] zhangyongquanpt opened #247 "编译通过以后，运行报错"
![image](https://user-images.githubusercontent.com/37578583/146854211-cde20241-c4ac-421e-bf9a-53fe69ccd073.png)

麻烦帮忙看看什么问题

[2021-12-21 08:50] nomandera commented on #247
From google translate "Trouble help see what's wrong"

[2021-12-26 08:59] Fusion commented on #247
(Thanks @nomandera !) .

@zhangyongquanpt -> This means that you have both a `[backends]` directive (still valid for backward compatibility) and a `[[backends]]` directive in your configuration file. Simply get rid of either one.

[2022-01-03 16:54] ruckc opened #248 "Environment variable interpolation in config file"
I am trying to deploy glauth in kubernetes, and my database connection details are stored in a kubernetes secret.  It would be extremely beneficial if there was some way to do environment variable interpolation into the config file, or somehow expose the database connection string as a command line option.

[2022-01-03 17:22] ruckc commented on #248
Nevermind... seems `libpq` environment variables work properly with an empty database string.

[2022-01-03 17:22] #248 closed

[2022-01-11 01:27] prologic opened #249 "Use-Case: Self Service management of an existing LDAP infrastructure like AD?"
I'm curious about a particular user-case I have in mind:

Basically as per the title.

Is it possible to use Glauth with an existing LDAP backend such as Microsoft AD to effectively provide interna self-service management for users such as "Changing their password"?

Thanks!

[2022-01-14 22:17] hellerbarde commented on #246
I got around to testing this, and the preview binary provided by "chrisfr" on the Matrix channel definitely fixed this. Thanks a lot for the effort

[2022-01-14 22:20] hellerbarde commented on #246
@Fusion I'm guessing you're chrisfr on Matrix. Just so you see this.

[2022-01-14 22:21] hellerbarde commented on #246
Also, I probably shouldn't close this quite yet. that was my mistake. Sorry.

[2022-01-16 15:26] hellerbarde opened #250 "PHC Password Hash format"
I think there would be tremendous value for interoperating with administration interfaces if the password hash format would be standardized and thus support various formats.

I ran into this because I started writing a python administration frontend and the python bcrypt implementation can be hard to obtain (long story, doesnt matter). scrypt on the other hand, is a more modern password hash metho

[2022-01-16 15:27] hellerbarde commented on #250
Also there is this project: https://github.com/aldy505/phc-crypto

I feel uncomfortable adding it as a dependency, because it's a very small and new project, but I might be able to incorporate some of their ideas or vendor in some code.

[2022-01-16 15:38] hellerbarde commented on #250
Note to self: Constant-time comparison of derived keys

- https://docs.python.org/3.10/library/hmac.html#hmac.compare_digest
- https://pkg.go.dev/crypto/subtle#ConstantTimeCompare

[2022-01-18 02:02] Fusion commented on #246
Thanks @hellerbarde yes that's me. Good to know that I was able to "undo" the breaking change :)

[2022-01-18 02:38] Fusion commented on #250
I see. This looks like a pretty reasonable convention, especially since it allows multiple encodings to cohabitate.

[2022-01-22 05:48] abbiewade opened #251 "Invalid credentials (49) Issues"
I've been trying to stand up `glauth` with a postgres backend using `glauth/glauth-plugins:v2.1.0-rc1` and am running into issues when trying to run an `ldapsearch`.

As per https://github.com/glauth/glauth/issues/208, I have been running:

`ldapsearch -LLL -H ldap://localhost:3893 -D cn=serviceuser,ou=svcaccts,dc=glauth,dc=com -w mysecret -x -bdc=glauth,dc=com cn=hackers`

Returns error `ldap_bin

[2022-01-28 23:14] greenpau opened #252 "LDAP Result Code 49 - BindDN should have only one or two parts"
I working on the integration with GLAuth in https://github.com/greenpau/caddy-security/issues/32

The LDAP library used is `github.com/go-ldap/ldap/v3 v3.4.1`.

Working with the `sample-simple.cfg` provided in the getting started.

The binding does not quite work.

As user. I get: `LDAP Result Code 49 "Invalid Credentials": `

In GLAuth logs I see: `BindDN should have only one or two parts`

[code

[2022-01-28 23:24] greenpau commented on #252
I think the issue is rooted in this code.

https://github.com/glauth/glauth/blob/e7195ed983715383bd5df1dc521f8c17d34d6a50/v2/pkg/handler/ldapopshelper.go#L601-L612

The `johndoe` DN is `cn=johndoe,ou=superheros,ou=users,dc=glauth,dc=com`.

Once you strip the base dn, you are left with `cn=johndoe,ou=superheros,ou=users`.

https://github.com/glauth/glauth/blob/e26219c2f402021df8cf7a1bbcfc0c5ba98459

[2022-01-29 08:02] Fusion commented on #252
Sorry it took me a few days to reply. Can you test this executable? It should address the issue (you are the second user reporting it and it's a real regression):

https://file.io/vfSQH4zQnVs3

[2022-01-29 14:28] greenpau commented on #252
@Fusion , this one works 👍

[2022-02-08 01:39] joace commented on #252
@Fusion seems the bootleg in that share has been deleted, does that mean the official release with fix will be published soon? Or can you share another link to download the fix, so I can try on my setup, thanks!

[2022-02-08 04:30] Fusion commented on #252
@joace if you are curious, I am awaiting another confirmation that this version works. You should be able to download it from https://mega.nz/file/ltgVhQJT#Kc9OBPGABc2Z1XrTFcDEXi8KGOjNwD8-SvR_emzePPg

[2022-02-08 04:36] greenpau commented on #252
@Fusion , just a side note ... what is the user is not in `ou=users` and the OU is deeply nested?

[2022-02-08 04:51] joace commented on #252
@Fusion thanks for the new link! Currently I'm running glauth in a container, but definitely a novice here, trying to figure out how to get new binaries into container and persist them.

[2022-02-12 05:32] joace commented on #252
@Fusion I can report back that the bootleg (build: 20220130_213326Z) also worked in my setup, the previous "msg"="BindDN should have only one or two parts" issue fixed, I can login via ldap authentication.

[2022-02-16 17:58] lbarnkow commented on #252
@Fusion Any idea when the fix to the `BindDN should have only one or two parts` is generally available in a proper release?

[2022-02-19 01:43] Fusion commented on #252
I am thinking this week-end, as I got confirmation from multiple sources that the fix works well.

[2022-02-21 15:45] lbarnkow commented on #252
@Fusion I managed to build my own binary off of the `dev` branch on my `linuxarm64` machine using the `docker.io/golang:bullseye` image. So I'm no longer in need for a timely official release.

However, I feel the whole CI/CD setup for glauth _should_ be tweaked a little to allow for more frequent releases. I haven't dug into it too much, but from the looks of it your current release process is no

[2022-02-21 20:23] Fusion commented on #252
Hi Lorenz, thanks for taking the time to think about this in depth.

Regarding feeling stupid, the only reference I could find in our own documentation of the move to github workflows is on that page: https://glauth.github.io/docs/running-travis-ci-locally.html and is a mere reference to the process so don't feel bad.

i wish we could release more often and with more confidence as, even going thro

[2022-02-28 00:36] #246 closed

[2022-02-28 01:31] #252 closed

[2022-03-10 02:23] joace commented on #252
@Fusion Is there any plan to update docker image with v2.1.0 release?

[2022-04-23 10:34] maikelcoke opened #257 "Push current images to docker hub"
I really like glauth /w cockraochdb and it works fine with my own built docker image. But is there a way, that the latest glauth(-plugins) will be pushed to the glauth/glauth docker hub? Seems very outdated. Thanks.

[2022-04-25 00:17] Fusion commented on #257
I did not realize that glauth was used with postgres-compatible dbs.

Good point regarding the docker images. I definitely need to automate pushing docker images. I'm going to look into this.

[2022-04-26 16:02] D13410N3 commented on #257
Looks like glauth can be now tested in my dev-env, but... I need fresh docker-images. Looking forward to them (and plugins too) :)

[2022-04-29 14:41] maikelcoke opened #258 "SQL Plugins does not fetch SSHKeys"
Hi,

i use gitea with glauth (postgres plugin). When gitea fetches the user info from glauth (basesqlhandler->FindPosixAccounts), SSHKeys are not supported / implemented. There is no field in the database table and the sql query does not fetch that field, so that sqlbasehandler->getAccount could assign the SSHKeys to the response. Some other Array-Fields are also missing. I tried to fix this for m

[2022-04-29 21:11] xpherism commented on #251
Hi, kind a had the same problem earlier, until I found that I needed specify baseDN, something like this

[code]

[2022-05-02 18:53] kang-makes commented on #162
Sorry for the delay. Too much life and pandemic issues around me.

Yes. The latest version worked like a charm.

Closing.

[2022-05-02 18:53] #162 closed

[2022-05-03 20:20] Megagyger opened #259 "Possible Spring security ldap compatibility issue"
While using this image to replace replace red hats IDM on local, I have encountered an issue relating to the dirContextAdaptor user searchResult response

Below is my config
`
[backend]
  datastore = "config"
  baseDN = "cn=accounts,dc=myorg,dc=com"

 [[users]]
  name = "user1"
  uidnumber = 1234
  primarygroup = 1234
  passsha256 = "passphrase"

[[users]]
  name = "userb"
  uidnumber = 1235
  pri

[2022-05-04 05:03] Fusion commented on #259
Thanks for including your config. This will help me figure out what the issue may be.

[2022-05-04 07:02] Megagyger commented on #259
If it helps please see also the string response of the serachResult for both glauth and original IDM

GLAUTH
`
(not relative)ldap://ldap:389/cn=user1,ou=mygroup,dc=myorg,dc=com: org.springframework.ldap.core.DirContextAdapter:org.springframework.ldap.core.DirContextAdapter: dn=cn=user1,ou=mygroup,dc=myorg,dc=com {objectClass[0]=posixAccount, objectClass[1]=shadowAccount}:No attributes`

ORIGINAL
`

[2022-05-07 10:00] tetricky commented on #257
Another upvote for up to date container images here.

I'd like to setup glauth, with a postgres backend, and integrate glauth-ui-light using podman. Currently I can't pull glauth-plugins (manifest error), and I haven't been able to build successfully myself.

Clearly nobody here owes me a living, but I'm having to consider whether to abandon thoughts of glauth, and look at a different solution.

[2022-05-07 19:40] Fusion commented on #257
Finally figured out that the "latest" tag was not being automatically updated (facepalm)

v2.1.0 is now the latest docker image.

[2022-05-08 09:52] tetricky commented on #257
Thank you for that. glauth-plugins:latest now pulls correctly from docker.io.

There is no overview for glauth-plugins. Is there documentation on what env variables can be passed, or is configuration through the config file? Where is that located, as I would like to mount it for persistence?

[2022-05-08 21:26] Fusion commented on #257
You're making a good point. The "Containerization" documentation page was not good enough. Hope the updated version offers some better help: http://localhost:3000/docs/containerization.html

[2022-05-08 23:12] Fusion commented on #251
Thanks @xpherism yes this is the idea. @abbiewade can you confirm that you have a `baseDN` value specified in your config file?

[2022-05-08 23:19] Fusion commented on #258
Yes, it's an unfortunate limitation at this time: multi-valued fields are not, at this time, properly handled. It's a good short term goal for me to have :)

[2022-05-08 23:27] Fusion commented on #258
Possible temporary workaround:

Looking at my code, it appears that I do this thing where, if you also define your user (minimally) in config.cfg, you can specify SSH keys in there, and that will be merged in the returned LDAP structure. Again, not the final fix!

[2022-05-15 04:31] Fusion commented on #257
Well, if you are running the glauth-plugins container, it comes with these `.so` preinstalled. I believe that the best way to load a plugin is using `plugin = "/app/postgres.so"`

[2022-05-17 14:54] D13410N3 commented on #239
Hello again:)

Is there any faq how to set custom attributes with DB as backend (e.g., postgres)?
I've tried a lot of strings
`person`
`{person}`
`objectClass: person`
`{objectClass: person}`
`{objectClass="person"}`
etc.

All of these tries result in an empty search-result (I've just tried to query with `cn=user`)

[2022-05-19 17:34] mmguero commented on #96
If somebody needs this in a pinch, you could absolutely do this with stunnel, which supports this since mtrojnar/stunnel#13. I've done this before (not with glauth, but in front of an unencrypted OpenLDAP instance) and it worked fine.

[2022-05-22 06:28] Fusion commented on #96
Thanks @mmguero if you do not mind I will use your example in the documentation pages. I did consider implementing StartTLS at the protocol level, but so far it's been possible to update the underlying protocol library without worrying about patch maintenance. I am not ashamed to admit that I like the convenience of not having to touch the library itself :)

[2022-06-08 20:38] observer commented on #223
Hi there,

I just starting to look into `glauth` and I noticed two things which are kind of related to this issue:

Firstly while v2.1.0 does support a configuration directory, but sadly it only supports a flat file hierarchy, e.g.:

    [root@ldap:/etc/glauth]# tree
    .
    ├── config
    ├── groups
    └── users

This gets kind of confusing, when you have to manage a lot of people and want to

[2022-06-09 01:50] leopku opened #265 "macOS native binary run with postgres plugin throwing error: "error"="Unable to load specified backend plugin: plugin: not implemented" "msg"="Could not create server""
OS: macOS Big Sur (11.16.5)
glauth version: v2.1.0 (downloaded from release)
plugin: postgres.so

config:

[code]

files:

$ ls
[code]

[code]

[2022-06-10 05:14] Fusion commented on #265
It looks like there a cgo-related issue here. I'm going to look into it.

[2022-06-11 08:26] leopku commented on #265
BTW: any documents for plugins?

I made plugin but got errors.

[code]

Same OS (macOS 11.6.5) as above.

[2022-06-11 18:56] Megagyger commented on #259
@Fusion  Did you get a chance to investigate this? I

[2022-06-11 20:58] Fusion commented on #265
Please re-download from the release page. I believe I fixed the issue. Note that you are also getting some nightly fixes in these updated packages.

[2022-06-12 14:03] leopku commented on #265
@Fusion thanks for your reply.

This time error changed: `plugin was built with a different version of package net`

[code]

[2022-06-12 21:42] Fusion commented on #265
Silly question I know but did you make sure that you were using the binary and plugin from the same archive?

[2022-06-19 20:07] Fusion commented on #265
So, did you provide the new version in the configuration file?

[2022-06-20 04:39] leopku commented on #265
Two folders had same files as below and each folder had an independent configuration file - `sample-database.cfg`.
[code]

and the content of configuration was:
[code]

[2022-06-20 04:48] leopku commented on #265
PS: the two folders came from downloading from release and unpack directly. After unpacking, config file was copied to each folder.

[2022-06-20 04:50] leopku commented on #265
I tested compiling glauth under linux and copied same config file to the bin folder. It works fine.

[2022-06-20 05:03] leopku commented on #265
After updating source code and compiling from dev branch, the binary and postgres plugin works now.
(I still can not make download version from release working, sorry)

Thanks for your patience.

[2022-06-29 05:14] splitice opened #267 "memberOf broken in v2"
Regression v1 -> v2 (master)

Did a test upgrade to v2. Unfortunately found a regression.

Query as follows:
[code]

Returns no results.

Only change in configuration from v1 is the addition of "*" search capabilities.

[code]

No issue searching when querying for other attributes (say all active accounts). It's just memberOf broken.

User is a member of the group

[code]

[2022-06-29 05:17] splitice commented on #231
This is complete in v2.

[2022-06-29 05:17] #231 closed

[2022-06-29 05:26] splitice commented on #267
Please note I have confirmed the v2 configuration on v1 (as I have reverted) as working.

[2022-06-29 14:07] terefang commented on #250
+1

[2022-06-29 14:25] terefang commented on #159
i think you should not torture yourself with kerberos as the entry into SASL.

my suggestion would be to start with: ANONYMOUS, PLAIN/LOGIN, and EXTERNAL, exactly in that order

* ANONYMOUS -- always success
* PLAIN/LOGIN -- do password match as with simple bind
* EXTERNAL -- success if the subject-dn contained in the tls client certificate can be mapped to a user.

[2022-07-01 09:49] c10l opened #268 "Insufficient Access Rights after update to 2.1.0"
I have `glauth` running as a backend to Authelia on my home lab.

I've been running 2.0.0 for about a year with no issues. When I upgrade to 2.1.0, with no other changes, I get an `Insufficient Access Rights` error:

[code]

I tried adding capabilities to the user, but it didn't help:

[code]

Setting `IgnoreCapabilities = true` makes it work again, so my capabilities configuration must be wrong,

[2022-07-03 06:01] Fusion commented on #268
Do you mind sending to me your configuration file? Of course feel free to redact the accounts' credentials -> chris [at] zteo.com

[2022-07-03 06:06] Fusion commented on #267
Thanks for the comprehensive report. I am looking into this.  I may have follow-up questions soon.

[2022-07-03 21:31] c10l commented on #268
I've just sent you an email with the config. Thanks for looking!

[2022-07-04 03:55] Fusion commented on #268
Not sure how the query was originally failing for you. What I did was edit your file to:
- set the user's password,
- ignore capabilities
- and edit the object entry to `dc=c10l,dc=cc` (you had included the user cn in there, I removed it)

Then, this command worked:

[code]

[2022-07-04 08:52] c10l commented on #268
Thanks for looking. I tried the same `ldapsearch` and can confirm it works. I checked Authelia's config but couldn't find anything glaring. In the end, I had to add individual capabilities for both `dc=foo,dc=bar` *and* `ou=groups,dc=foo,dc=bar`.

If either of those are missing, the binding is not allowed on one or the other object.

Thaks for your help, it set me in the right track!

[2022-07-04 08:52] #268 closed

[2022-07-05 00:40] #265 closed

[2022-07-17 06:16] Fusion opened #270 "Figure out why steampipe query doesn't succeed"
Seen as a top-level browse:

[code]

[2022-07-17 10:14] bodsch opened #271 "some ideas / wishes for one of the next versions"
I maintain several Ansible roles and would like to finally give them LDAP support after a long time.
In my search for an LDAP server that is as lean and easy to configure as possible, I discovered glauth.

I am currently in the process of creating a suitable Ansible role.

And I have some ideas / wishes for one of the next versions of glauth ;)

1. a `--validate-config` parameter to check the conf

[2022-07-21 18:56] dayadev opened #272 "PagedError: missing paged control"
I am trying to do the search on the ldap server with `sample-simple.cfg` ldap data with I get the below error.

`stack=Error: LDAP search at DN "dc=glauth,dc=com" failed; caused by Error: undefined PagedError: missing paged control`

Cant seem to figure out from logs as below.

`13:52:03.084017 Bind ▶ DEBU 006  "level"=6 "msg"="Bind request"  "basedn"="dc=glauth,dc=com" "binddn"="cn=serviceuser,ou

[2022-07-21 19:04] dayadev commented on #272
I think this is because the ldap server doesnt handle pagination. Is there a way we can enable to handle pagination?

[2022-07-23 18:22] Fusion commented on #272
Hi @dayadev what client library are you using? This extension is, indeed, not supported at this time. However, the server should simply ignore it and return all records (not ideal for your use case, I guess!)
It doesn't look like your client checks the root DN for an extension listing, so I am not sure how it detects the lack of support.

[2022-07-23 18:26] Fusion commented on #271
- `--validate-config` I cannot believe that I implemented this in some of my other projects but did not yet get around to doing the same for GLAuth. Excellent suggestion.
- prometheus: literally my day job. I'll work on that.
- I thought this was all documented at https://glauth.github.io/docs/ -- I will double-check

[2022-07-23 18:29] Fusion commented on #267
Can you email me your (anonymized) configuration file at chris [at] zteo.com? With my own config files, I am not seeing this issue.

[2022-07-23 18:46] Fusion commented on #249
HI @prologic . Sorry, this is definitely not a use case for GLAuth.

[2022-07-23 18:46] #249 closed

[2022-07-23 18:58] Fusion commented on #259
I am not familiar with Spring so I am not quite sure how to help. However, from what you pasted, it looks like your question would end ip being to `group,myorg,com` and GLauth would reject that, especially since you would be logged in using the full path. I would expect your query to work if it was against `group,accounts,myorg,com`

[2022-07-23 18:59] Fusion commented on #257
Closing due to inactivity. Assuming my answer addressed the issue.

[2022-07-23 18:59] #257 closed

[2022-07-23 18:59] Fusion commented on #251
Closing due to inactivity; assuming issue addressed following comments made here.

[2022-07-23 18:59] #251 closed

[2022-07-24 14:35] onedr0p commented on #268
Hi, I am trying to set up glauth with authelia as well. I am not really following what you were all able to do to make it working. Do you have any tips?

## glauth configuration

I am testing, the password decrypted is `none`

[code]

## authelia configuration

[code]

## glauth logs

[code]

## authelia logs

[code]

[2022-07-24 22:49] Fusion opened #273 "Hi 👋🏼 I am trying to set up glauth with authelia as well. I am not really following what you were all able to do to make it working. Do you have any tips? Thanks!"
Hi 👋🏼  I am trying to set up glauth with authelia as well. I am not really following what you were all able to do to make it working. Do you have any tips? Thanks!

## glauth configuration

I am testing, the password decrypted is `none`

[code]

## authelia configuration

[code]

## glauth logs

[code]

## authelia logs

[code]

## `ldapsearch`

[code]

[code]

_Originally posted by @onedr0p in ht

[2022-07-24 22:54] Fusion commented on #273
@onedr0p it appears that the objectClass is the issue. Try updating your configuration to use:

[code]

[2022-07-24 23:04] onedr0p commented on #273
Thanks that was it!

[2022-07-26 08:21] toboshii commented on #273
Heyo, I'm working on setting up this combo as well and while the suggested changes fix user logins, I noticed a strange issue while trying to get groups working.

I initially had the group filter set to `"(&(uniqueMember={dn})(objectClass=posixGroup))"` but it wasn't working even though that seems correct at first. Taking a deeper look I discovered `uniqueMember` on groups is incomplete?

Example,

[2022-07-31 05:55] bodsch commented on #271
I hadn't seen or found that!
I will have a closer look.

[2022-08-22 21:46] mmguero commented on #273
FWIW I've got the same question, about why the FDN in the `uniqueMembers` attribute of a group misses the `users` ou. In other words, when I do a listing of users, I've got `cn=sikari,ou=Administrator,ou=users,dc=example,dc=org`, but when I see him in a group it's listed as `uniqueMember: cn=sikari,ou=Administrator,dc=example,dc=org`, which is missing the `ou-users` bit. This causes some searches

[2022-08-24 07:15] felrivero opened #278 "User in multiple groups"
Hi!
I didn't find example how to include user to multiple groups (in static cfg file), could you give example plz?

[2022-08-24 07:39] felrivero commented on #278
Sorry, already found example here
https://github.com/glauth/glauth/blob/e7195ed983715383bd5df1dc521f8c17d34d6a50/v2/scripts/ci/test-config.cfg#L63

[2022-08-24 07:46] #278 closed

[2022-08-26 08:16] cofecatt opened #279 "How to access the LDAP service with TLS added"
I try to connect ldap server with TLS added, but it's failed. Any idea is greatly appreciative.

[2022-09-06 06:40] brettinternet commented on #141
I don't see ARM support in the docker tags: https://hub.docker.com/r/glauth/glauth/tags. Am I mistaken?

[2022-09-06 17:23] brettinternet commented on #257
I don't see multiarch images on docker hub. https://hub.docker.com/r/glauth/glauth/tags

Are those still being built and supported? https://github.com/glauth/glauth/issues/141

[2022-09-07 05:01] Fusion commented on #141
Give me a bit of time to figure this out, thanks. Cross building has been a thorn in my side.

[2022-09-13 17:38] bodsch opened #280 "database schema?"
I would like to support different backends in my [Ansible role](https://github.com/bodsch/ansible-glauth).

I am currently looking for documentation on the database schema, but have not been able to find anything.
The only thing I could find were sample statements to import demo data:
https://glauth.github.io/docs/databases.html

Is there a working and documented schema?

Regards

[2022-09-14 05:53] Fusion commented on #280
It's a valid question.
While the database schema is straightforward, it has not been officially documented beyond the `plugins` (https://github.com/glauth/glauth/tree/master/v2/pkg/plugins) directory itself.
I'll try to get this squared out. No promise that it will happen this week, but it's definitely something I would like to add.

[2022-09-14 09:08] Hellhium commented on #273
The workaround I used to fix groups was to reuse the {input} parameter
Here is my currently working config for Authelia:

[code]

And glauth.conf (backend section):
[code]

[2022-09-14 09:14] Hellhium commented on #258
I saw this getting implemented in #262
Is this ready to be released ?

[2022-09-14 13:32] Hellhium opened #281 "passbcrypt broken with MySQL backend"
Using a mysql backend `passbcrypt VARCHAR(64) DEFAULT ` is not enough to contain a hexadecimal bcrypt password (120 chars long, I suggest using VARCHAR(128) instead)

[2022-09-18 01:27] Fusion commented on #281
OK you got me there. Trying to be nice to MySQL and not use `text` looks like I messed this up.

[2022-09-18 01:28] Fusion commented on #280
First attempt: https://glauth.github.io/docs/databases.html (scroll down a bit)

[2022-09-18 14:47] bodsch commented on #280
thanks. <3
and now the real SQL statements? ;)

[2022-09-18 14:50] Hellhium commented on #83
After a bit of investigation, SSSD first makes a `(objectclass=*)` search, and glauth then closes the connection because it returns and error

https://github.com/glauth/glauth/blob/3e2e24cadb70ca419c822414a7092702b6280556/v2/pkg/handler/ldapopshelper.go#L240
Changing this line to return nil as error, just returns the desired resultcode without closing the connection

[2022-10-02 23:59] Fusion commented on #280
Oh, the database statements are straightforward. Take a look at `https://github.com/glauth/glauth/blob/master/v2/pkg/plugins/mysql.go` for instance to see the statements used to create the database.

[2022-10-03 00:00] Fusion commented on #279
Do you have any additional information on how this failed? I realize that I may not have created documentation for how to use a TLS certificate, so please let me know what steps you took.

[2022-10-10 05:31] bodsch commented on #280
I'll try my hand at sqlite support.
The rest should then run similarly.

Thank you!

[2022-10-10 05:31] #280 closed

[2022-10-10 06:52] bodsch opened #282 "What is the correct backend integration?"
I found different notations in the documentation and in the examples:
(https://github.com/glauth/glauth/blob/master/v2/scripts/docker/default-config-plugins.cfg / https://glauth.github.io/docs/sqlite.html)

[[backends]] or [backend].

Can both notations be used?

[2022-10-10 11:37] bodsch commented on #258
This does not seem to me to be the optimum DB design.
As soon as more than one ssh-key is to be defined for the user, an extra table - such as with includegroups - would be much more efficient. Actually, this concerns all data that is available in a list ...

[2022-10-15 05:42] Fusion commented on #282
Both notations can be used.

`[backend]` was the original notation and is being kept around for compatibility purposes. But, under the hood, it gets converted to a single `[[backends]]` entry (used to specify multiple backends if needed)

[2022-10-15 05:42] #282 closed

[2022-10-15 05:43] Fusion commented on #279
I will close this stale PR in a week in no response. Thank you.

[2022-10-15 05:44] Fusion commented on #272
I will close this issue in a week if it does not get any further replies. Thank you.

[2022-10-15 05:47] Fusion commented on #258
This is due to trying to keep the configuration as simple as possible. If a configuration tool could be used to enter the database information, this would be a non-issue. Not sure how to strike a balance between purity and ease of use.

[2022-10-15 05:47] #247 closed

[2022-10-26 11:54] Zen3515 commented on #224
I follow the wiki but was unable to make it work.
I can't even use command like

[code]

Below are my configuration and test result.

[code]

I have already changed files `/etc/ldap/ldap.conf` and `/etc/pam.d/common-session`

ldapsearch return the correct user.

The below command gives normal result.

[code]

I'd like some help please.

[2022-10-30 06:02] #279 closed

[2022-10-30 06:02] #272 closed

[2022-10-30 06:03] #259 closed

[2022-10-30 06:03] Fusion commented on #141
OK I will soon make this available. I have figured it out.

[2022-10-31 00:03] Fusion commented on #267
Flagging as stale.

[2022-10-31 00:03] #267 closed

[2022-10-31 00:18] Fusion commented on #270
Solution:

`~/.steampipe/config/ldap.spc`:

[code]

[2022-10-31 00:18] #270 closed

[2022-10-31 06:48] Zen3515 commented on #83
This issue exist since 2019, and now in 2022, is there any plan on fixing this?

[2022-11-01 00:16] #235 closed

[2022-11-01 00:24] Fusion commented on #197
I reviewed the code and from my tests, this works as designed. Closing.

[2022-11-01 00:24] #197 closed

[2022-11-01 00:26] #230 closed

[2022-11-01 00:28] #96 closed

[2022-11-01 00:28] #40 closed

[2022-11-06 04:49] Fusion commented on #83
If you are using a client that requires reading the root DSE first, set `anonymousdse = true` in the backend configuration.

[2022-11-06 07:57] Zen3515 commented on #83
@Fusion Thanks, I found that out a few days ago and planning on document it in the SSSD guild. The minimum working example is actually not enough.

[2022-11-07 01:47] Fusion commented on #239
Can you test again but making sure you are assigning a multi-valued set? This would likely be something like: `{"persontype": ["person"]}`

[2022-11-07 04:10] #141 closed

[2022-11-07 04:42] brettinternet commented on #141
@Fusion thank you for your attention to this. I don't see any multiarch images pushed to https://hub.docker.com/r/glauth/glauth/tags, but I think the multiarch support will release with v2.2.0? Should we track this in https://github.com/glauth/glauth/issues/257 or do you prefer for users host their own images?

I wonder if we could also include a nightly tag to allow users to test your release can

[2022-11-07 07:13] D13410N3 commented on #239
@Fusion My dev glauth machine is already deleted, but I'll setup it again to test this, thanks

[2022-11-07 08:34] Fusion commented on #83
I can believe that. I always find new things to add to the documentation... sigh!

[2022-11-08 04:02] bodsch commented on #258
I understand you very well! :)
I'm just trying to look at this from an automation perspective and as a former (rather poor) DB admin.
Maybe you could link up with other projects (e.g. [glauth-ui.light](https://github.com/yvesago/glauth-ui-light))?
Then one could certainly tackle such issues in a more targeted and joint way.

[2022-11-14 14:03] zwned opened #291 "Auth with UID"
Using the default [sample-simple config](https://raw.githubusercontent.com/glauth/glauth/e7195ed983715383bd5df1dc521f8c17d34d6a50/v2/sample-simple.cfg) with the docker container glauth/glauth-plugins, is it possible to bind to glauth using "serviceuser" account? something like `ldapsearch -LLL -H ldap://localhost:389 -D serviceuser,dc=glauth,dc=com -w mysecret -x -bdc=glauth,dc=com` this succeeds

[2022-11-20 22:06] Fusion commented on #291
Right. I think you are referring to something that can typically be done using AD/SASL. This is not supported at this time.
Is there a compelling reason why you could not login using the service account DN?

[2022-11-21 18:02] zwned commented on #291
Limitations/design choices of the application unfortunately. I ended up manually patching in support for what I needed.

[2022-11-21 18:02] #291 closed

[2022-11-27 09:03] bodsch opened #292 "standard for the released artefacts?"
Is it possible to establish a standard for the artefacts?

Zip archives are offered for download for [2.1.0](https://github.com/glauth/glauth/releases/tag/v2.1.0)

For [2.2.0-RC](https://github.com/glauth/glauth/releases/tag/v2.2.0-RC1) only the binaries.

It will be difficult to get a meaningful automation here. :)

[2022-11-28 00:55] Fusion commented on #292
You are making a good point. These wild changes are due to the fact that there was not unified way of building for all the targets at the same time, while providing multi-platform containers as well.

I think I have finally cracked multiple target builds when using plugins (hint: never use plugins unless you don't have to! Go does not like plugins)

Anyway, with plugins now living in their own rep

[2022-11-28 05:48] bodsch commented on #292
All good.

I know the on-the-fly developer cycle myself.
In the meantime I found a solution, but it consumes ratelimits at github.

Will the current format (a single exec file) be maintained?
Will the plugins also be offered compiled in the future? (I cannot assume a build environment on the target systems).

[2022-11-28 07:48] Fusion commented on #292
Yes.

Here is the new (current) format. Seems like a good idea to document it, indeed.

The idea is that plugins are optional, and thus they now have their own projects. Therefore, to download v2.2.0RC1 with its current plugins, you would retrieve the binaries from:

- GLAuth core: https://github.com/glauth/glauth/releases/tag/v2.2.0-RC1
- Postgres plugin: https://github.com/glauth/glauth-postgres

[2022-11-29 10:20] bodsch opened #293 "bcrypt implementation?"
I have problems understanding the bcrypt implementation. :(
A password I generated has the following structure:
`$2y$2^<number of rounds>$<salt>$<hash>`

e.g: `$2a$12$vXQCX9zGGAj22vNazNrBz.pBCWsUuLH.QBLImlra61i70D/MFDhKa`

But it does not match the one in one of the commis or the documentation:

[code]

When I integrate my (standard) bcrypt string, a client cannot connect glauth.   :(

What kind o